<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/login.css">

<body>

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/user/login"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>
    
    <main>
        <section class="section-login">

<!--   Login -->

		<div class="container">
			<span class="span-title">Login</span>
			<form class="form-login">
				<div class="container-input">
					<input type="text" placeholder="Email" required class="form-input" />
					<span class="span-bar"></span>
				</div>
				<div class="container-input">
					<input
						type="password"
						placeholder="Contraseña"
						required
						class="form-input"
					/>
					<span class="span-bar"></span>
				</div>
                <div class="container-sesion">
                    <label  for="sesion">Mantener Sesión iniciada</label>
                    <input name="sesion" type="checkbox">
                 </div>
                <button type="submit" class="btn-login">
                    Ingresar
                </button>
                <button type="submit" class="btn-login">
                    Cancelar
                </button>
                <a class="enlace" href=""> Recuperar Contraseña</a>
                <a class="enlace" href="/user/register"> Registrarse </a>
			</form>
		</div>

    </section>


    </main>

   <!---------------------------------  FOOTER ---------------------------- -->

   <%- include('../partials/footer')%>

</body>

</html>