<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/user/profile"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>
    
    <main>
        <section>
            <img src="" alt="">
        </section>
    </main>

    <!---------------------------------  FOOTER ---------------------------- -->
     
    <footer>
        <%- include('../partials/footer')%>
    </footer>
        
     
</body>
     
</html>