<div class="container-asesor">
    <div class="content-asesor">
        <i class="fa-brands fa-whatsapp"></i>
        <h2 class="title-asesor"> Asesoramiento</h2>
        <p class="p-asesor"> Proporciona detalles sobre tu consulta y estaremos encantados de ayudarte de la manera
            más eficaz posible. ¡No dudes en contactarnos!</p>
    </div>
    <div class="content-asesor">
        <i class="fa-solid fa-thumbs-up"></i>
        <h2 class="title-asesor"> Confianza</h2>
        <p class="p-asesor"> Nuestros productos son de alta calidad. Puedes estar seguro/a de que encontrarás todo
            lo que necesitas para tomar una decisión informada sobre tus compras.</p>
    </div>
    <div class="content-asesor">
        <i class="fa-solid fa-truck-fast"></i>
        <h2 class="title-asesor"> Envios </h2>
        <p class="p-asesor">¡Entregamos en todo el país!. Ofrecemos envíos rápidos y confiables de tus compras en
            poco tiempo y recibirlos en la comodidad de tu hogar!</p>
    </div>
</div>