<footer class="footer">
    <div class="group-1">
        <div class="box">
            <figure class="figure-logo">
                <img class="figure-logo-img" src="/images/home/logo.png" alt="logo" />
            </figure>
        </div>
        <div class="box">
            <h3>ACLARACION</h3><br>
            <p>
                Esta es una página para una empresa ficticia,
                realizada para un proyecto integrador de
                “DIGITAL HOUSE”.
            </p>
        </div>
    </div>
    <div class="group-2">
        <small>
            &copy; 2023 Green Good - Todos los Derechos
            Reservados.
        </small>
        <!-- iconos con enlace a su sitio -->
        <div class="icon-container">
            <a href="https://www.facebook.com/green.good.co.verde" class="icon-fb">
                <i class="fa-brands fa-facebook"></i>
                <span class="icon-text">Facebook</span>
            </a>
            <a href="https://www.instagram.com/green.good_/" class="icon-ig">
                <i class="fa-brands fa-instagram"></i>
                <span class="icon-text">Instagram</span>
            </a>
            <a href="#" class="icon-wpp">
                <i class="fa-brands fa-whatsapp"></i>
                <span class="icon-text">WhatsApp</span>
            </a>
        </div>
    </div>
</footer>