<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- /* ------------------------------- NAVBAR ------------------------------- */ -->

    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/mainViews/password-reset"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

        <main>
            <h2 class="search-header">
                <%= title %>
            </h2>

            <section class="container-results">
                    <div class="container">
                        <span class="span-title">Ingresa el token que recibiste</span>
                        <form class="form-login" action="/user/send-reset-token" method="POST" id="token-form">
                            <div class="container-input">
                                <input type="text" name="token" id="token-input" placeholder="Token">
                                <div class="text-danger" style="color: red; margin: 15px 0; font-size: 0.7rem;">
                                </div>
                                <span class="error" id="error"></span>
                            </div>
                        <!--  <button type="submit" class="btn-login" id="token-button" disabled>-->
                            <button type="submit" class="btn-login" id="token-button">
                                Confirmar
                            </button>
                        </form>
                      
            </section>
        </main>

        <!---------------------------------  FOOTER ---------------------------- -->

        <footer>
            <%- include('../partials/footer')%>
        </footer>


</body>

</html>