<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- /* ------------------------------- NAVBAR ------------------------------- */ -->

    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/mainViews/password-reset"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

        <main>
            <section class="container-results">
                <div class="container pass-reset">
                    <span class="span-title">Confirma tu datos</span>
                    <form class="form-login" action="/user/password-reset" method="POST" id="confirmation-form">
                        <div class="container-input">
                            <input type="text" name="email" id="email-input" placeholder="Email registrado">
                            <div class="text-danger" style="color: red; margin: 15px 0; font-size: 0.7rem;">
                            </div>
                            <span class="error" id="error"></span>
                        </div>
                        <div class="container-input">
                            <input type="tel" name="identity_document" placeholder="Documento de identidad"
                            id="identity_document" class="form-input" />
                            <div class="text-danger" style="color: red; margin: 15px 0; font-size: 0.7rem;">
                            </div>
                            <span class="error-id" id="error-id"></span>
                        </div>
                       <button type="submit" class="btn-login" id="confirmation-button" disabled> 
                     <!--   <button type="submit" class="btn-login" id="confirmation-button" > -->
                            Enviar token
                        </button>
                    </form>
            </section>
        </main>

        <!---------------------------------  FOOTER ---------------------------- -->

        <footer>
            <%- include('../partials/footer')%>
        </footer>

        <script src="/javascript/validationFront/passReset.js"></script>
</body>

</html>