<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- /* ------------------------------- NAVBAR ------------------------------- */ -->

    <%- include('../partials/header')%>

        <div class="deslizable">
            <a href="/mainViews/password-reset"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

        <main>
            <section class="container-results">
                    <div class="container pass-reset" id="token-div">
                        <span class="span-title">Ingresa el token que recibiste</span>
                        <form class="form-login" action="/user/send-reset-token" method="POST" id="token-form">
                            <div class="container-input">
                                <input type="text" name="token" id="token-input" placeholder="Token">
                                <% if (locals.errors && errors.token) { %>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="error-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                                    </svg>                  
                                    <div class="text-danger" style="color: red; margin: 15px 0; font-size: 0.7rem;">
                                        <%= errors.token.msg %>
                                    </div>
                                <% }; %> 
                                <span class="error" id="error"></span>
                            </div>
                                <button type="submit" class="btn-login" id="token-button" disabled>
                                Confirmar
                            </button>
                        </form>
                      
            </section>
        </main>

        <!---------------------------------  FOOTER ---------------------------- -->

        <footer>
            <%- include('../partials/footer')%>
        </footer>

        <script src="/javascript/validationFront/passResetToken.js"></script>
</body>

</html>