<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="icon" href="images/logo.svg" type="image/x-icon" /> -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Green Good</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="images/logo.png" alt="">
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>

            <ul class="nav-center">
                <li><a href="">Inicio</a></li>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Calificaciones</a></li>
                <li><a href="">Ayuda</a></li><br>
            </ul>
            <ul class="nav-right">
                <li><a href="">Login</a></li>
                <li><a href=""><i class="fa-solid fa-arrow-right-to-bracket"></i> Register</a></li>
                <li><a href=""><i class="fa-solid fa-basket-shopping"></i> Mi carrito</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
        <img class="img-fondo" src="/images/fondo.jpeg" alt="">
        <h1 class="titulo">Green Good</h1>
        <h3 class="subtitulo">Vegan Products</h3>
        <p class="p-hero"> la mejor calidad y precio.</p>
        <div class="button-hero">
            <button><a href="#">Contactanos</a> </button>
            <button> <a href="#"> Ver Productos</a> </button>
        </div>
    </section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere a, ipsum in quod velit cum maiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, iste voluptate iure sequi eum minima corporis aperiam modi. Adipisci laborum consectetur excepturi praesentium quis obcaecati itaque sed quas tempora architecto.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ullam ab dolorum officia. Eaque optio expedita
        non possimus animi vero repellat laudantium fugit, sapiente ut qui sit exercitationem eos natus?
        eius tenetur ducimus tempore iste amet earum natus voluptatibus quia non distinctio suscipit!</p>

    <main>
        <h2 class="titulares"> Sección de Ofertas </h2>
        <section class="ofertas">
            <article>
                <img src="/images/gotero.jpg" alt="">
                <div class="content-art">
                    <h3> $6.770 </h3>
                    <h4> 40% OFF</h4>
                    <strong>LUZ LED</strong>
                </div>
            </article>
            <article>
                <img src="/images/gotero.jpg" alt="">
                <div class="content-art">
                    <h3> $230.000 </h3>
                    <h4> 20% off </h4>
                    <strong>ACEITE CBD</strong>
                </div>
            </article>
            <article>
                <img src="/images/gotero.jpg" alt="">
                <div class="content-art">
                    <h3> $70.500 </h3>
                    <h4> 10% off </h4>
                    <strong>UNGUENTO</strong>
                </div>
            </article>
            <article>
                <img src="/images/gotero.jpg" alt="">
                <div class="content-art">
                    <h3> $23.200 </h3>
                    <h4> 5% off </h4>
                    <strong>SHAMPOO</strong>
                </div>
            </article>
        </section>
    </main>
    <!-- SECTION COMENTARIOS -->
    <section id="comments">
        <div class="container-section">
            <div>
                <h2 id="title-comments">
                    Opiniones de nuestros clientes
                </h2>
                <p>
                    ¡Echa un vistazo a nuestras calificaciones y
                    opiniones!
                </p>
            </div>
            <div>
                <div>
                    <h3>4,7</h3>
                    <div class="comments-stars">
                        <i class=""></i>
                        <i class=""></i>
                        <i class=""></i>
                        <i class=""></i>
                        <i class=""></i>
                    </div>
                    <p>28 reseñas</p>
                </div>
                <hr />
                <div class="usr-comment">
                    <div class="usr-info">
                        <div class="circle"></div>
                        <div class="info-comment">
                            <h6>lorem</h6>
                            <div class="info-comment__stars">
                                <i class=""></i>
                                <i class=""></i>
                                <i class=""></i>
                                <i class=""></i>
                                <i class=""></i>
                            </div>
                            <p>Hace 2 semanas</p>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus quae animi error omnis!
                        Natus maiores earum fugit quo placeat? Nesciunt doloribus adipisci enim sed quasi! Omnis
                        vitae in fugiat totam.
                    </p>
                </div>
                <hr />
                <div class="usr-comment">
                    <div class="usr-info">
                        <div class="circle"></div>
                        <div class="info-comment">
                            <h6>lorem</h6>
                            <div class="info-comment__stars">
                                <i class=""></i>
                                <i class=""></i>
                                <i class=""></i>
                                <i class=""></i>
                                <i class=""></i>
                            </div>
                            <p>Hace 3 semanas</p>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, beatae perferendis! Rem
                        quo minima labore quasi repellendus esse iste dolorum dolore delectus neque vero, tenetur
                        eius doloribus quaerat blanditiis nemo?
                    </p>
                </div>
                <hr />
            </div>
        </div>
    </section>
    <!-- SECCION CONTACTO  -->
    <section id="contacto">
        <h2 id="title-contact">
            ¿Tiene alguna <br />
            pregunta que hacernos?
        </h2>
        <div id="container-contact">
            <form>
                <h3 class="contact-titles">Contacto</h3>
                <div>
                    <label for="InputName" class="form-label">Nombre y apellido</label>
                    <input type="text" class="form-control" id="InputName" placeholder="Escriba su nombre..."
                        required />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="correo@ejemplo.com"
                        required />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escriba aquí..."
                        required></textarea>
                </div>
                <button type="submit" class="btn">
                    Enviar
                </button>
            </form>
        </div>
    </section>
    <!-- SECTION FOOTER -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure class="figure-logo">
                    <a href="#">
                        <img class="figure-logo-img" src="images/logo-sinfondo.png" alt="logo" />
                    </a>
                </figure>
            </div>
            <hr />
            <div class="box">
                <h3>Aclaración</h3>
                <p>
                    Esta es una página para una empresa ficticia,
                    realizada para un proyecto integrador de
                    “DIGITAL HOUSE”.
                </p>
            </div>
        </div>
        <div class="grupo-2">
            <small>
                &copy; 2023 Green Good - Todos los Derechos
                Reservados.
            </small>
            <div>
                <a href="#" class="icon-rd"><i class="facebook"></i></a>
                <a href="#" class="icon-rd"><i class="instagram"></i></a>
                <a href="#" class="icon-rd"><i class="twitter"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>