<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Green Good</title>
</head>

<body>
    <!--------------------------------- NAVBAR --------------------------------->
    <header>
        <nav>
            <a href="/"><img class="logo" src="images/home/logo.png" alt="logo"></a>
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><svg id="search-icon-navbar" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" className="w-5 h-5">
                                <path fillRule="evenodd"
                                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                    clipRule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <ul class="nav-center">
                <li><a href="/">Inicio</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/sale">Vender</a></li>
                <li><a href="/faqs">Ayuda</a></li><br>
                <div class="active"></div>
            </ul>
            <div class="content-icons">
                <a href="/">
                    <span><svg class="icons-navbar" id="icon-home-navbar" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>
                    </span>
                </a>
                <a href="/login">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                        </svg>
                    </span>
                </a>
                <a href="/productCart" id="cart-icon">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M1 1.75A.75.75 0 011.75 1h1.628a1.75 1.75 0 011.734 1.51L5.18 3a65.25 65.25 0 0113.36 1.412.75.75 0 01.58.875 48.645 48.645 0 01-1.618 6.2.75.75 0 01-.712.513H6a2.503 2.503 0 00-2.292 1.5H17.25a.75.75 0 010 1.5H2.76a.75.75 0 01-.748-.807 4.002 4.002 0 012.716-3.486L3.626 2.716a.25.25 0 00-.248-.216H1.75A.75.75 0 011 1.75zM6 17.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15.5 19a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                        </svg>
                    </span>
                    <span id="added-product"><input type="tel" value="0"></span>
                </a>
                <a href="#">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path fillRule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                                clipRule="evenodd" />
                        </svg>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <div class="deslizable">
        <a href="/"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <!-- ------------------------------- HERO --------------------------------->
    <section id="hero">
        <div class="container-video">
            <div class="hero-image">
                <img id="img-hero" src="/images/home/gg.png" alt="Hero Image">
                <p>Aumentá tu bienestar</p>
            </div>
            <video autoplay muted plays-inline class="video video1">
                <source src="/videos/inicio-2.mp4" type="video/mp4">
            </video>
            <video autoplay muted plays-inline class="video video2">
                <source src="/videos/inicio.mp4" type="video/mp4">
            </video>
        </div>
    </section>


    <!--------------------------- CARRUSEL OFERTAS--------------------------------->
    <main>
        <!-- <h2 id="ofertas" class="titles"> OFERTAS</h2> -->
        <div class="card-container">
            <div class="card">
                <a href="/productDetail"> <img src="/images/product/macetas/rootshouse-10L.png" alt="Imagen 1"></a>
                <p class="send-card">OFERTA</p>
                <p class="desc-card"> Maceta Mad Rocket</p>
                <p class="price-card"> $3500</p>
                <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
            </div>
            <div class="card">
                <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/detox-facial-30ml.png"
                    alt="Imagen 1"></a>
                    <p class="send-card">OFERTA</p>
                    <p class="desc-card"> Detox Facial</p>
                    <p class="price-card"> $3500</p>
                    <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                </div>
                <div class="card">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/crema-hidratante-Xml.png"
                        alt="Imagen 1"></a>
                        <p class="send-card">OFERTA</p>
                        <p class="desc-card"> Unguento</p>
                        <p class="price-card"> $3500</p>
                <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
            </div>
        </div>
        <!-------------------------------- INICIO -------------------------------->
        <div class="container-left">
            <div class="content">
                <h2>Productos de cultivo <i class="fa-solid fa-chevron-down"></i></h2>
                <p class="p-ocult">Aquí encontrarás todo lo necesario para cultivar tu propia planta de cannabis, desde
                    semillas y
                    nutrientes hasta herramientas especializadas. También ofrecemos una variedad de productos para el
                    cuidado de tus plantas, como sustratos, fertilizantes y pesticidas orgánicos.</p>
            </div>
            <img src="/images/home/cultivo.jpg" alt="Imagen">
            <a href="/product"><button class="btn"> Ver Productos</button></a>
        </div>
        <hr class="div-home">
        <div class="container">
            <div class="content">
                <h2>Informacion <i class="fa-solid fa-chevron-down"></i> </h2>
                <p class="p-ocult">Encuentra toda la información que necesitas sobre el cultivo y cuidado del cannabis
                    en nuestra
                    sección de recursos. Aprende de expertos en el campo y descubre consejos útiles para cultivar de
                    manera responsable y consciente.</p>
            </div>
            <img src="/images/home/informacion.jpg" alt="Imagen">
            <a href="/info"><button class="btn"> Ver Novedades</button></a>
        </div>
        <hr class="div-home">
        <div class="container-left">
            <div class="content">
                <h2>Preguntas Frecuentes <i class="fa-solid fa-chevron-down"></i></h2>
                <p class="p-ocult">Aquí responderemos las preguntas más comunes sobre nuestros productos, cultivo de
                    cannabis, efectos y
                    más. Si no encuentras la respuesta que buscas, no dudes en contactarnos y estaremos encantados de
                    ayudarte..</p>
            </div>
            <img src="/images/home/faqs.jpg" alt="Imagen">
            <a href="/faqs"><button class="btn">Preguntas</button></a>
        </div>
        <hr class="div-home">
        <div class="container">
            <div class="content">
                <h2>Productos Medicinales <i class="fa-solid fa-chevron-down"></i> </h2>
                <p class="p-ocult">En esta sección, ofrecemos una selección de productos a base de cannabis que pueden
                    ayudarte en el
                    manejo de diversas condiciones de salud. Desde aceites y cremas hasta tinturas y cápsulas, nuestra
                    gama de productos medicinales es cuidadosamente seleccionada para ofrecerte la mejor calidad y
                    efectividad.</p>
            </div>
            <img src="/images/home/medicina.jpg" alt="Imagen">
            <a href="/product"><button class="btn">Ver Productos</button></a>
        </div>
        <hr class="div-home">
    </main>
    <!---------------------------- ASESORAMIENTO--------------------------------->
    <div class="container-asesor">
        <div class="content-asesor">
            <i class="fa-brands fa-whatsapp"></i>
            <h2 class="title-asesor"> Asesoramiento</h2>
            <p class="p-asesor"> Proporciona detalles sobre tu consulta y estaremos encantados de ayudarte de la manera
                más eficaz posible. ¡No dudes en contactarnos!</p>
        </div>
        <div class="content-asesor">
            <i class="fa-solid fa-thumbs-up"></i>
            <h2 class="title-asesor"> Confianza</h2>
            <p class="p-asesor"> Nuestros productos son de alta calidad. Puedes estar seguro/a de que encontrarás todo
                lo que necesitas para tomar una decisión informada sobre tus compras.</p>
        </div>
        <div class="content-asesor">
            <i class="fa-solid fa-truck-fast"></i>
            <h2 class="title-asesor"> Envios </h2>
            <p class="p-asesor">¡Entregamos en todo el país!. Ofrecemos envíos rápidos y confiables de tus compras en
                poco tiempo y recibirlos en la comodidad de tu hogar!</p>
        </div>
    </div>
    <!---------------------------------  FOOTER ---------------------------- -->
    <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure class="figure-logo">
                    <img class="figure-logo-img" src="images/home/logo.png" alt="logo" />
                </figure>
            </div>
            <div class="box">
                <h3>ACLARACION</h3><br>
                <p>
                    Esta es una página para una empresa ficticia,
                    realizada para un proyecto integrador de
                    “DIGITAL HOUSE”.
                </p>
            </div>
        </div>
        <div class="group-2">
            <small>
                &copy; 2023 Green Good - Todos los Derechos
                Reservados.
            </small>
            <!-- iconos con enlace a su sitio -->
            <div class="icon-container">
                <a href="https://www.facebook.com/green.good.co.verde" class="icon-fb">
                    <i class="fa-brands fa-facebook"></i>
                    <span class="icon-text">Facebook</span>
                </a>
                <a href="https://www.instagram.com/green.good_/" class="icon-ig">
                    <i class="fa-brands fa-instagram"></i>
                    <span class="icon-text">Instagram</span>
                </a>
                <a href="#" class="icon-wpp">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span class="icon-text">WhatsApp</span>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>