<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/logo-sinfondo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Green Good</title>
</head>

<body>
    <!-- /* ------------------------------- NAVBAR ------------------------------- */ -->
    <header>
        <nav>
            <img class="logo" src="images/logo-sinfondo.png" alt="">
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="login-register">
                <a href="/register"> <i class="fa-solid fa-arrow-right-to-bracket"></i> </a>
            </div>
            <div class="shop-cart">
                <i class="fa-solid fa-basket-shopping"></i>
            </div>
            <ul class="nav-center">
                <li><a href="/">Inicio</a></li>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#comments">Comentarios</a></li>
                <li><a href="">Ayuda</a></li><br>
            </ul>
            <ul class="nav-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register"></i> Register</a></li>
                <li><a href=""> Mi carrito</a></li>
            </ul>
        </nav>
    </header>
    <!-- /* ------------------------------- HERO ------------------------------- */ -->
    <section id="hero">
        <div class="slider">
            <img class="img-fondo" src="/images/fondo-2.jpeg" alt="">
            <img class="img-fondo" src="/images/logo-2.jpeg" alt="">
        </div>
        <h1 class="title">Green Good</h1>
        <h3 class="subtitle">Vegan Products</h3>
        <p class="p-hero">¡Descubre el secreto del bienestar con nosotros y cultiva una vida más plena!</p>
        <div class="button-hero">
            <button class="btn-hero"><a href="#contact">Contactanos</a> </button>
            <button class="btn-hero"> <a href="/product"> Ver Productos</a> </button>
        </div>
    </section>
    <!-- /* ------------------------------- CARRUSEL OFERTAS ------------------------------- */ -->
    <main>
        <h2 id="ofertas" class="titles"> Ofertas</h2>
        <div class="card-container">
            <div class="card">
                <img src="/images/logo-sinfondo.png" alt="Imagen 1">
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn"> Agregar al carrito</button>
            </div>
            <div class="card">
                <img src="/images/logo-sinfondo.png" alt="Imagen 2">
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn"> Agregar al carrito</button>
            </div>
            <div class="card">
                <img src="/images/logo-sinfondo.png" alt="Imagen 3">
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn"> Agregar al carrito</button>
            </div>
        </div>
        <!-- /* ------------------------------- INICIO ------------------------------- */ -->
        <div class="container-left">
            <div class="content">
                <h2>Productos de cultivo <i class="fa-solid fa-chevron-down"></i></h2>
                <p class="p-ocult">Aquí encontrarás todo lo necesario para cultivar tu propia planta de cannabis, desde
                    semillas y
                    nutrientes hasta herramientas especializadas. También ofrecemos una variedad de productos para el
                    cuidado de tus plantas, como sustratos, fertilizantes y pesticidas orgánicos.</p>
            </div>
            <img src="/images/cultivo.jpg" alt="Imagen">
            <button class="btn"> <a href="/product"> Ver Productos</a> </button>
        </div>
        <div class="container">
            <div class="content">
                <h2>Informacion <i class="fa-solid fa-chevron-down"></i> </h2>
                <p class="p-ocult">Encuentra toda la información que necesitas sobre el cultivo y cuidado del cannabis
                    en nuestra
                    sección de recursos. Aprende de expertos en el campo y descubre consejos útiles para cultivar de
                    manera responsable y consciente.</p>
            </div>
            <img src="/images/gotero.jpg" alt="Imagen">
            <button class="btn"> <a href=""> Ver Novedades</a> </button>
        </div>
        <div class="container-left">
            <div class="content">
                <h2>Preguntas Frecuentes <i class="fa-solid fa-chevron-down"></i></h2>
                <p class="p-ocult">Aquí responderemos las preguntas más comunes sobre nuestros productos, cultivo de
                    cannabis, efectos y
                    más. Si no encuentras la respuesta que buscas, no dudes en contactarnos y estaremos encantados de
                    ayudarte..</p>
            </div>
            <img src="/images/faqs.jpg" alt="Imagen">
            <button class="btn"> <a href="">Preguntas</a> </button>
        </div>
        <div class="container">
            <div class="content">
                <h2>Productos Medicinales <i class="fa-solid fa-chevron-down"></i> </h2>
                <p class="p-ocult">En esta sección, ofrecemos una selección de productos a base de cannabis que pueden
                    ayudarte en el
                    manejo de diversas condiciones de salud. Desde aceites y cremas hasta tinturas y cápsulas, nuestra
                    gama de productos medicinales es cuidadosamente seleccionada para ofrecerte la mejor calidad y
                    efectividad.</p>
            </div>
            <img src="/images/nuevo.jpeg" alt="Imagen">
            <button type="submit" class="btn"> <a href="/product"> Ver Productos</a></button>
        </div>
    </main>
    <!-- /* ------------------------------- CONTACTO ------------------------------- */ -->
    <section id="contact">
        <h2 id="title-contact">
            ¿Tiene alguna <br />
            pregunta que hacernos?
        </h2>
        <div id="container-contact">
            <form>
                <h3 class="contact-titles">Contacto</h3>
                <div>
                    <label for="InputName" class="form-label">Nombre y apellido</label>
                    <input type="text" class="form-control" id="InputName" placeholder="Escriba su nombre..."
                        required />
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="correo@ejemplo.com"
                        required />
                </div>
                <div>
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escriba aquí..."
                        required></textarea>
                </div>
                <button type="submit" class="btn-contact"> Enviar</button>
            </form>
        </div>
    </section>
    <!-- SECTION FOOTER -->
    <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure class="figure-logo">
                    <a href="#">
                        <img class="figure-logo-img" src="images/logo-sinfondo.png" alt="logo" />
                    </a>
                </figure>
            </div>
            <div class="box">
                <h3>Aclaración</h3>
                <p>
                    Esta es una página para una empresa ficticia,
                    realizada para un proyecto integrador de
                    “DIGITAL HOUSE”.
                </p>
            </div>
        </div>
        <div class="group-2">
            <small>
                &copy; 2023 Green Good - Todos los Derechos
                Reservados.
            </small>
            <!-- iconos con enlace a su sitio -->
            <div>
                <a href="https://www.facebook.com/green.good.co.verde" class="icon-rd"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/green.good_/" class="icon-rd"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="#" class="icon-rd"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>