<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/info.css">
    <title>Green Good</title>
</head>

<body>
    <!--------------------------------- NAVBAR --------------------------------->
    <header>
        <nav>
            <a href="/"><img class="logo" src="images/logo.png" alt="logo"></a>
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><svg id="search-icon-navbar" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" className="w-5 h-5">
                                <path fillRule="evenodd"
                                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                    clipRule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <ul class="nav-center">
                <li><a href="/info">Info</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/sale">Vender</a></li>
                <li><a href="/faqs">Ayuda</a></li><br>
                <div class="active"></div>
            </ul>
            <div class="content-icons">
                <a href="/login">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                        </svg>
                    </span>
                </a>
                <a href="/productCart" id="cart-icon">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M1 1.75A.75.75 0 011.75 1h1.628a1.75 1.75 0 011.734 1.51L5.18 3a65.25 65.25 0 0113.36 1.412.75.75 0 01.58.875 48.645 48.645 0 01-1.618 6.2.75.75 0 01-.712.513H6a2.503 2.503 0 00-2.292 1.5H17.25a.75.75 0 010 1.5H2.76a.75.75 0 01-.748-.807 4.002 4.002 0 012.716-3.486L3.626 2.716a.25.25 0 00-.248-.216H1.75A.75.75 0 011 1.75zM6 17.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15.5 19a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                        </svg>
                    </span>
                    <span id="added-product"><input type="tel" value="0"></span>
                </a>
                <a href="#">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path fillRule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                                clipRule="evenodd" />
                        </svg>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <div class="deslizable">
        <a href="/"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <main>
        <div class="container-info">
            <img class="img-1" src="/images/fondo.png" alt="Imagen1">
            <div class="content-info">
                <h2>Green Good</h2>
                <p>¡Bienvenidos a la sección de información de Green Good! Aquí podrás conocer todo sobre nuestros
                    productos, su origen, beneficios y cómo pueden ayudarte a mejorar tu calidad de vida. Somos una
                    empresa dedicada a ofrecer productos naturales y de alta calidad, que promueven un estilo de vida
                    saludable y respetuoso con el medio ambiente.

                    En esta sección encontrarás artículos, noticias y novedades relacionadas con nuestros productos, así
                    como información útil para entender mejor cómo funcionan y cómo pueden contribuir a mejorar tu salud
                    y bienestar. También compartiremos contigo consejos y recomendaciones sobre hábitos saludables,
                    alimentación y cuidado del medio ambiente.

                    Nos encanta compartir nuestra pasión por los productos naturales y estamos seguros de que
                    encontrarás información valiosa y relevante en esta sección. ¡Explora y descubre todo lo que Green
                    Good tiene para ofrecerte!</p>
            </div>
        </div>


        <div class="slider-info">
            <img src="/images/info-1.jpeg" alt="Imagen 1">
            <img src="/images/info-2.jpeg" alt="Imagen 2">
            <img src="/images/info-3.jpeg" alt="Imagen 3">
        </div>
    </main>

    <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure class="figure-logo">
                    <img class="figure-logo-img" src="images/logo.png" alt="logo" />
                </figure>
            </div>
            <div class="box">
                <h3>ACLARACION</h3><br>
                <p>
                    Esta es una página para una empresa ficticia,
                    realizada para un proyecto integrador de
                    “DIGITAL HOUSE”.
                </p>
            </div>
        </div>
        <div class="group-2">
            <small>
                &copy; 2023 Green Good - Todos los Derechos
                Reservados.
            </small>
            <!-- iconos con enlace a su sitio -->
            <div class="icon-container">
                <a href="https://www.facebook.com/green.good.co.verde" class="icon-fb">
                    <i class="fa-brands fa-facebook"></i>
                    <span class="icon-text">Facebook</span>
                </a>
                <a href="https://www.instagram.com/green.good_/" class="icon-ig">
                    <i class="fa-brands fa-instagram"></i>
                    <span class="icon-text">Instagram</span>
                </a>
                <a href="#" class="icon-wpp">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span class="icon-text">WhatsApp</span>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>