<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" href="images/logo-sinfondo.png" type="image/x-icon" />
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/info.css">
        <title>Green Good</title>
    </head>

    <body>
        <header>
            <nav>
                <img class="logo" src="images/logo.png" alt="">
                <div class="search-container">
                    <form class="search" action="/search">
                        <div class="input-container">
                            <input type="text" placeholder="Buscar...">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
                <div class="burger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <ul class="nav-center">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/#ofertas">Ofertas</a></li>
                    <li><a href="/product">Productos</a></li>
                    <li><a href="/faqs">Ayuda</a></li><br>
                </ul>
                <ul class="nav-right">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register"></i> Register</a></li>
                    <li><a href=""> Mi carrito</a></li>
                </ul>
            </nav>


        </header>
        <main>
            <section>
                <div>
                    <p id="titulo">Aprende mas sobre GreenGood Vegan Products y aumentá tu bienestar</p>
                </div>
                <div id="container-info"> 
                    <img id="imagen1" src="/images/info/info1.png">
                    <p>
                        ¿Queres mejorar tu CALIDAD de vida naturalmente?

                        Te podemos ayudar a mejorar tu día a día en varios aspectos con nuestro aceite medicinal curativo! Ademas el resto de nuestros productos cosméticos son excelentes para el cuerpo en general...

                        Cremas para la piel, bálsamo para labios, acondicionador para el cabello y ungüento para dolores y masajes relajantes

                        Hacemos envíos a todo el país y punto de encuentro en el partido de Malvinas Argentinas
                    </p>
                </div>
                <div id="container-info">
                    <img id="imagen2" src="/images/info/info2.png">
                    
                    <p>                      
                        Aquí te mostramos los 7 CANNABINOIDES más reconocidos!
                    </p>
                          
                        <p>•Tetrahidrocannabinol (THC): Es el componente psicotrópico principal de la planta. Ayuda a liberar estrés, estimula el apetito y combate los radicales libres en el torrente sanguíneo. Estimula el crecimiento de células, neuronas y tejido nervioso. Alivia efectivamente los sintomas del glaucoma (presión ocular). Suprime espasmos musculares y convulsiones.</p>

                        <p>•Cannabidiol (CBD): Controla el cáncer, reduce dolores y estimula el crecimiento óseo. Reduce los niveles de azúcar en sangre y el riesgo de obstrucción arterial. Detiene el crecimiento de bacterias no deseadas, ayuda a controlar la epilepsia y suprime náuseas y vómitos.</p>

                        <p>•Cannabinol (CBN): Se encarga de estimular el sueño y aliviar dolores. Agente reductor de inflamaciones e hinchazones. También suprime a las convulsiones.</p>

                        <p>•Cannabicromeno (CBC): Este compuesto no psicotrópico ayuda a aliviar dolores e inflamaciones. Juega un papel indispensable en la optimización del efecto séquito.</p>

                        <p>•Cannavarinal (THCU): Agente estimulador del apetito, sin embargo tiene la particularidad de controlar la obesidad. Además en la actualidad se esta utilizando en tratamientos para la diabetes.</p>

                        <p>•Cannabigerol (CBG): Este componente prometedor se encuentra en foco de investigación. Se ha demostrado que tiene propiedades antiinflamatorias, antibacterianas, y anticancerígenas. Lo llamo prometedor ya que el horizonte hacia el futuro que el CBG tiene es convertirse en la solución para la lucha contra las superbacterias (gérmemes multiresistentes que amenazan la salud pública y problematizan el entorno intra-hospitalario).</p>

                        <p>•Tetrahidrocannabivarina (THCV): Tiene una estructura química similar a la del THC pero un efecto totalmente distinto. Se considera que sirve para tratamiento de Parkinson y diabetes. La diferencia entre estos compuestos semejantes es que mientras el THC provoca un colocón y un efecto altamente psicoactivo, el THCV limita los efectos de esa sensación; por lo que el estado resultará mas animado dejando de lado a la ansiedad que el THC genera en el organismo.</p>
                    
                </div>
                <div id="container-info">
                    <img id="imagen3" src="/images/info/info3.png">
                    
                    <p>
                        Desde Green Good les compartimos una muy buena información respecto del funcionamiento del aceite medicinal al ser ingerido por nuestra mascota. Suele pasar que tenemos una mascota en el entorno familiar que no se encuentra del todo bien, ya sea por complicaciones o por longevidad. Te comentamos que tenes la posibilidad de hacer que ese hermoso ser de luz pueda tener un día a día mas ameno y desligado totalmente de cualquier tipo de dolor tan solo con ingerir nuestro aceite medicinal.

                        El cannabis tiene multiples propiedades desde ansiolíticas y analgésicas hasta antiespasmódicas y reparadoras de tejido. Tanto nosotros como las mascotas tenemos un sistema endocannabinoide que esta conformado por una serie de receptores cannabinoides. El cannabidiol (CBD) trata una amplia gama de síntomas que nuestra mascotas pueden presentar, uniendose a receptores CB1 y CB2.
                    </p>
                </div>
            </section>   
            <section>
                <div>
                    <p id="container-info1">No pierdas mas tiempo y registrate!</p>
                </div>
                <div>
                    <a id="boton" class="button "href="/register" target="_blank">CREAR UNA CUENTA</a>
                </div>


            </section>     
        </main>

        <footer class="footer">
            <div class="group-1">
                <div class="box">
                    <figure class="figure-logo">
                            <img class="figure-logo-img" src="images/logo.png" alt="logo" />
                    </figure>
                </div>
                <div class="box">
                    <h3>ACLARACION</h3><br>
                    <p>
                        Esta es una página para una empresa ficticia,
                        realizada para un proyecto integrador de
                        “DIGITAL HOUSE”.
                    </p>
                </div>
            </div>
            <div class="group-2">
                <small>
                    &copy; 2023 Green Good - Todos los Derechos
                    Reservados.
                </small>
                <!-- iconos con enlace a su sitio -->
                <div>
                    <a href="https://www.facebook.com/green.good.co.verde" class="icon-rd"><i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/green.good_/" class="icon-rd"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="icon-rd"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </footer>
    </body>


</html>