<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="icon" href="images/logo.svg" type="image/x-icon" /> -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Green Good</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img class="logo" src="images/home/logo.png" alt="logo"></a>
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><svg id="search-icon-navbar" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" className="w-5 h-5">
                                <path fillRule="evenodd"
                                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                    clipRule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <ul class="nav-center">
                <li><a href="/info">Info</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/sale">Vender</a></li>
                <li><a href="/faqs">Ayuda</a></li><br>
                <div class="active"></div>
            </ul>
            <div class="content-icons">
                <a href="/login">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                        </svg>
                    </span>
                </a>
                <a href="/productCart" id="cart-icon">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M1 1.75A.75.75 0 011.75 1h1.628a1.75 1.75 0 011.734 1.51L5.18 3a65.25 65.25 0 0113.36 1.412.75.75 0 01.58.875 48.645 48.645 0 01-1.618 6.2.75.75 0 01-.712.513H6a2.503 2.503 0 00-2.292 1.5H17.25a.75.75 0 010 1.5H2.76a.75.75 0 01-.748-.807 4.002 4.002 0 012.716-3.486L3.626 2.716a.25.25 0 00-.248-.216H1.75A.75.75 0 011 1.75zM6 17.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15.5 19a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                        </svg>
                    </span>
                    <span id="added-product"><input type="tel" value="0"></span>
                </a>
                <a href="#">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path fillRule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                                clipRule="evenodd" />
                        </svg>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <div class="deslizable">
        <a href="/product"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <div class="slider-product">
        <img src="/images/product/bannerProduct.jpg" alt="Imagen 1">
        <img src="/images/product/banner-product.jpg" alt="Imagen 2">
        <img src="/images/product/bannerProduct2.jpg" alt="Imagen 3">
    </div> 
    <main>
        <div class="sale-access-container">
            <h2>Si querés vender tu producto hacé click <a href="/sale">acá</a></h2>
        </div>
        <h2 class="titles"> Sección de Cultivo <i class="fa-solid fa-chevron-down"></i></h2>
        <section class="category-cultive">

            <h3 class="sub-category"> Sustratos <i class="fa-solid fa-chevron-down"></i></h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/abono-growers-5L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $670 </p>
                        <p class="description">Abono "Growers" 5L</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/growers-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $2.360 </p>
                        <p class="description"> "Growers" 20L</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/growers-50L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $5.790 </p>
                        <p class="description"> "Growers" 50L</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/growers-supersoil-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.700 </p>
                        <p class="description"> "Growers" supersoil 20L</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/growers-supersoil-50L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.640 </p>
                        <p class="description"> "Growers" supersoil 50L</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/cultivateLiviano-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.100 </p>
                        <p class="description"> "Cultivate" liviano 25L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/cultivateCompleto-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.900 </p>
                        <p class="description"> "Cultivate" completo 25L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/cultivateCoco-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $3.100 </p>
                        <p class="description"> "Cultivate" coco 25L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/cultivatePremium-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.760 </p>
                        <p class="description"> "Cultivate" premium 25L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/sustratos/terrafertil-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> "Terrafertil" 20L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Macetas <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/geotextil-12,5L.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> Geotextil 12,5L</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/geotextil-circular-20L.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.900 </p>
                        <p class="description"> Geotextil 20L</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/geotextil-circular-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.000 </p>
                        <p class="description"> Geotextil 25L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/geotextil-cuadrada-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.000 </p>
                        <p class="description"> Geotextil cuadrada 25L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/rootshouse-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> "Roost House" 10L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/KOI-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> "Koi" 10L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/plastica-circular-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> plastica ciruclar 20L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/plastica-circular-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.800 </p>
                        <p class="description"> plastica ciruclar 25L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/airpot-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.400 </p>
                        <p class="description"> "Air Pot" 10L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/airpot-30L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.600 </p>
                        <p class="description"> "Air Pot" 30L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/soplada-5L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $500 </p>
                        <p class="description"> Soplada 5L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/soplada-12L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.000 </p>
                        <p class="description"> Soplada 12L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/soplada-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.300 </p>
                        <p class="description"> Soplada 20L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/guia-16L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.800 </p>
                        <p class="description"> Guia 16L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/bolsa-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $90 </p>
                        <p class="description"> Bolsa 10L </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Bandejas <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/bandeja-cuadrada.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $500 </p>
                        <p class="description"> Bandeja </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/bandeja-semillera.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $700 </p>
                        <p class="description"> Bandeja semillero </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/jiffy-circular.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $270 </p>
                        <p class="description"> Jiffy ciruclar </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/macetas/jiffys-cuadrado.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $270 </p>
                        <p class="description"> Jiffy cuadrado </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>
        </section>

        <h2 class="titles"> Sección Medicinal <i class="fa-solid fa-chevron-down"></i> </h2>
        <section class="category-medicine">
            <h3 class="sub-category"> Cosmetica <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/detox-facial-30ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Detox facial con CBD 30ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/lipbalm-5gr.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Lipbalm con CBD 5gr </p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/shampoo-acondicionador-Xml.png"
                            alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Shampoo + Acondicionador con CBD 200ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Aceites <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/aceite-25ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 25ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/aceite-50ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 50ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/aceite-150ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 150ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/aceite-250ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 250ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/esencia-150ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Esencia 150ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/esencia-250ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Esencia 250ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Cremas <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/crema-hidratante-Xml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Crema Hidratante con CBD Xml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/crema-facial-30ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Crema facial con CBD 30ml</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/product/medicinales-cosmetica/endotica-90gr.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> "Endotica" 90gr</p>
                        <a href="/productCart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>
        </section>

        <!-- /* ------------------------------- COMENTARIOS ------------------------------- */ -->
        <section id="section-comments">
            <div class="container-comments">
                <div>
                    <h2 id="title-comments"> Opiniones de nuestros clientes </h2>
                    <p> ¡Echa un vistazo a nuestras calificaciones y opiniones!</p>
                </div>
                <div class="content-star">
                    <h3>4,7</h3>
                    <div class="comments-stars"> <!--estrellas -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>28 reseñas</p>
                </div>
                <hr />
                <div class="usr-comment">
                    <div class="circle"></div>
                    <div class="info-comment">
                        <h6>Laura Sánchez:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 2 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    Quería compartir mi experiencia con los productos de Green Good. Compré semillas y
                    nutrientes
                    para mi cultivo personal y quedé impresionada con la calidad y el rendimiento de las
                    plantas.
                    ¡Definitivamente recomiendo Green Good
                </p>
                <hr />
                <div class="usr-comment">
                    <div class="circle"></div>
                    <div class="info-comment">
                        <h6>Marcos Hernández:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 3 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    He estado usando los productos medicinales a base de cannabis de Green Good para tratar mi
                    artritis y los resultados han sido notables. Gracias a su selección de aceites y cremas,
                    puedo
                    manejar el dolor y la inflamación de manera efectiva. ¡Excelente trabajo, Green Good!
                </p>
            </div>
            <hr />
        </section>
        <!-- SECTION FOOTER -->
        <footer class="footer">
            <div class="group-1">
                <div class="box">
                    <figure class="figure-logo">
                        <img class="figure-logo-img" src="images/home/logo.png" alt="logo" />
                    </figure>
                </div>
                <div class="box">
                    <h3>ACLARACION</h3><br>
                    <p>
                        Esta es una página para una empresa ficticia,
                        realizada para un proyecto integrador de
                        “DIGITAL HOUSE”.
                    </p>
                </div>
            </div>
            <div class="group-2">
                <small>
                    &copy; 2023 Green Good - Todos los Derechos
                    Reservados.
                </small>
                <!-- iconos con enlace a su sitio -->
                <div class="icon-container">
                    <a href="https://www.facebook.com/green.good.co.verde" class="icon-fb">
                        <i class="fa-brands fa-facebook"></i>
                        <span class="icon-text">Facebook</span>
                    </a>
                    <a href="https://www.instagram.com/green.good_/" class="icon-ig">
                        <i class="fa-brands fa-instagram"></i>
                        <span class="icon-text">Instagram</span>
                    </a>
                    <a href="#" class="icon-wpp">
                        <i class="fa-brands fa-whatsapp"></i>
                        <span class="icon-text">WhatsApp</span>
                    </a>
                </div>
            </div>
        </footer>
</body>

</html>