<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/logo-sinfondo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/ProductDetail.css">
    <title>Green Good</title>
</head>

<body>
    <!--------------------------------- NAVBAR --------------------------------->
    <header>
        <nav>
            <img class="logo" src="images/logo.png" alt="">
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-center">
                <li><a href="/">Inicio</a></li>
                <li><a href="/#ofertas">Ofertas</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/faqs">Ayuda</a></li><br>
            </ul>
            <ul class="nav-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register"></i> Register</a></li>
                <li><a href=""> Mi carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="container-detail">
            <img class="img-detail" src="/images/gotero.jpg">
            <div class="container-price">
                <h2 class="title-detail"> Producto </h2>
                <p class="price-detail"><strong>$5000</strong></p>
                <input type="number" class="form-control" id="InputName" placeholder="Cantidad:" required /> <button
                    class="btn" type="submit" href="#">Añadir al carrito</button>
                <p class="cat-detail">Categoría: <strong>Cultivo</strong></p>
                <p class="cat-detail">Stock: <strong>Disponible</strong></p>
                <p class="cat-detail">Envio: <strong>Gratis</strong></p>
                <p class="share-detail">
                    Compartir:
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </p>
            </div>
        </article>
        <div class="content-description">
            <h2 class="title-description">Descripción</h2>
            <p class="p-description">
                El producto X de nuestra tienda es una variedad de cannabis de alta calidad, cultivada y seleccionada
                cuidadosamente para asegurar la mejor experiencia para el consumidor. Esta variedad es conocida por sus
                efectos relajantes y su sabor suave y terroso. Cada paquete contiene una cantidad generosa de cogollos
                densos y resinosos, con un alto contenido de THC y otros cannabinoides beneficiosos para la salud.
                Además, ofrecemos información detallada sobre el origen y la genética de esta variedad, para que puedas
                conocer más sobre lo que estás consumiendo. Ya sea para fines recreativos o medicinales, el producto X
                es una excelente elección para aquellos que buscan una experiencia de cannabis de alta calidad. </p>
        </div>
        <div class="content-description">
            <h2 class="title-description">Caracteristicas</h2>
            <p class="p-description">
                ·Lorem ipsum dolor <br>
                ·molestias dignissimos <br>
                ·aperiam et nam qui <br>
                ·incidunt! Voluptate <br>
        </div>
        <h2 class=""> Quienes vieron este producto tambien vieron</h2>
        <div class="card-container">
            <div class="card">
                <a href="/productDetail"> <img src="/images/logo-sinfondo.png" alt="Imagen 1"> </a>
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn"> Agregar al carrito</button>
            </div>
            <div class="card">
                <a href="/productDetail"> <img src="/images/logo-sinfondo.png" alt="Imagen 1"> </a>
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn"> Agregar al carrito</button>
            </div>
            <div class="card">
                <a href="/productDetail"> <img src="/images/logo-sinfondo.png" alt="Imagen 1"> </a>
                <p class="price-card"> $3500</p>
                <button type="submit" class="btn"> Agregar al carrito</button>
            </div>
        </div>
    </main>
    <!---------------------------------  FOOTER ---------------------------- -->
    <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure class="figure-logo">
                    <img class="figure-logo-img" src="images/logo.png" alt="logo" />
                </figure>
            </div>
            <div class="box">
                <h3>Aclaración</h3>
                <p>
                    Esta es una página para una empresa ficticia,
                    realizada para un proyecto integrador de
                    “DIGITAL HOUSE”.
                </p>
            </div>
        </div>
        <div class="group-2">
            <small>
                &copy; 2023 Green Good - Todos los Derechos
                Reservados.
            </small>
            <!-- iconos con enlace a su sitio -->
            <div>
                <a href="https://www.facebook.com/green.good.co.verde" class="icon-rd"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/green.good_/" class="icon-rd"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="#" class="icon-rd"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>