<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="icon" href="images/logo.svg" type="image/x-icon" /> -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/product.css">
    <title>Green Good</title>
</head>

<body>
    <header>
        <nav>
            <img class="logo" src="images/logo.png" alt="">
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-center">
                <li><a href="/">Inicio</a></li>
                <li><a href="/#ofertas">Ofertas</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/faqs">Ayuda</a></li><br>
            </ul>
            <ul class="nav-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register"></i> Register</a></li>
                <li><a href="/productCart"> Mi carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="titles"> Sección de Cultivo <i class="fa-solid fa-chevron-down"></i></h2>
        <section class="category-cultive">

            <h3 class="sub-category"> Sustratos <i class="fa-solid fa-chevron-down"></i></h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/macetas/maceata grisclaro geotextil 12,5L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description">Maceta gris claro geotextil 12,5L</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/macetas/maceta 3 pisos.png" alt=""> </a>
                    <div class="content-art">
                        <p class="price"> $1.500 </p>
                        <p class="description"> Maceta plastica “roost house” 10L</p>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Macetas <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/sustratos/sustrato growers 50L.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $5.790 </p>
                        <p class="description"> Sustrato “Growers” 50L</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/sustratos/sustrato growers supersoil 20LL.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.700 </p>
                        <p class="description"> Sustrato “Growers” supersoil 20L</p>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Bandejas  <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/sustratos/sustrato growers 50L.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $5.790 </p>
                        <p class="description"> Sustrato “Growers” 50L</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/sustratos/sustrato growers supersoil 20LL.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.700 </p>
                        <p class="description"> Sustrato “Growers” supersoil 20L</p>
                    </div>
                </article>
            </section>
        </section>

        <h2 class="titles"> Sección Medicinal <i class="fa-solid fa-chevron-down"></i> </h2>
        <section class="category-medicine">
            <h3 class="sub-category"> Cosmetica  <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">
                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/Aceite cannabico 25ML.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 25ml</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/Aceite cannabico 50ML.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 50ml</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/Aceite Cannabico 150ML.png"
                            alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 150ml</p>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Aceites  <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/Aceite Cannabico 250ML.png"
                            alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 250ml</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/crema facial con CBD.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Crema facial con CBD 30ml</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/crema hidratante con CBD.png"
                            alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Crema hidratante con CBD Xml</p>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Cremas  <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/detox facial con CBD.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Detox facial con CBD 30ml</p>
                    </div>
                </article>
                <article class="product">
                    <a href="/productDetail"> <img src="/images/medicinales-cosmetica/lipbalm cannabico.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Lipbalm con CBD 5gr</p>
                    </div>
                </article>
            </section>
        </section>

        <!-- /* ------------------------------- COMENTARIOS ------------------------------- */ -->
        <section id="section-comments">
            <div class="container-comments">
                <div>
                    <h2 id="title-comments"> Opiniones de nuestros clientes </h2>
                    <p> ¡Echa un vistazo a nuestras calificaciones y opiniones!</p>
                </div>
                <div class="content-star">
                    <h3>4,7</h3>
                    <div class="comments-stars"> <!--estrellas -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>28 reseñas</p>
                </div>
                <hr />
                <div class="usr-comment">
                    <div class="circle"></div>
                    <div class="info-comment">
                        <h6>Laura Sánchez:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 2 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    Quería compartir mi experiencia con los productos de Green Good. Compré semillas y
                    nutrientes
                    para mi cultivo personal y quedé impresionada con la calidad y el rendimiento de las
                    plantas.
                    ¡Definitivamente recomiendo Green Good
                </p>
                <hr />
                <div class="usr-comment">
                    <div class="circle"></div>
                    <div class="info-comment">
                        <h6>Marcos Hernández:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 3 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    He estado usando los productos medicinales a base de cannabis de Green Good para tratar mi
                    artritis y los resultados han sido notables. Gracias a su selección de aceites y cremas,
                    puedo
                    manejar el dolor y la inflamación de manera efectiva. ¡Excelente trabajo, Green Good!
                </p>
            </div>
            <hr />
        </section>
        <!-- SECTION FOOTER -->
        <footer class="footer">
            <div class="group-1">
                <div class="box">
                    <figure class="figure-logo">
                        <img class="figure-logo-img" src="images/logo.png" alt="logo" />
                    </figure>
                </div>
                <div class="box">
                    <h3>Aclaración</h3>
                    <p>
                        Esta es una página para una empresa ficticia,
                        realizada para un proyecto integrador de
                        “DIGITAL HOUSE”.
                    </p>
                </div>
            </div>
            <div class="group-2">
                <small>
                    &copy; 2023 Green Good - Todos los Derechos
                    Reservados.
                </small>
                <!-- iconos con enlace a su sitio -->
                <div>
                    <a href="https://www.facebook.com/green.good.co.verde" class="icon-rd"><i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/green.good_/" class="icon-rd"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="icon-rd"><i class="fa-brands fa-whatsapp"></i></i></a>
                </div>
            </div>
        </footer>
</body>

</html>