<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd67e0aa15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/logo-sinfondo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Green Good</title>
</head>

<body>
    <!--------------------------------- NAVBAR --------------------------------->
    <header>
        <nav>
            <img class="logo" src="images/logo.png" alt="logo">
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-center">
                <li><a href="/">Inicio</a></li>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/faqs">Ayuda</a></li><br>
            </ul>
            <ul class="nav-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register"></i> Register</a></li>
            </ul>
        </nav>
    </header>

    <!--------------------------------- MAN PRODUCT CART --------------------------------->

    <main>

        <div class="safe-site">
            <i class="fa-solid fa-shield-halved fa-lg"></i>
            <p>SITIO SEGURO<br>
            Protegemos tus datos</p>
        </div>

        <div class="login-cart-container">
            <h4 class="login-cart-title">Si aún no te logeaste, ingresa aquí:</h4>
            <a class="link-login" href="/login">Ingresar</a>
            <div class="link-register-container">¿No tenés cuenta?<a class="link-register" href="/register"></i>Registrate</a></div>
        </div>
       
    <!------ TU PEDIDO ------>

        <div  class="shop-cart-containter">

            <div class="order-head">

                <div class="order-title">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                    <h2>Mi carrito</h2>
                </div>
                <div class="empty-cart-container"><a href="/" class="empty-cart"><span>Vaciar carrito</span></a></div>

            </div>

            <section class="order">

            <!-- Productos agregados -->

                <article class="empty-cart-content" data-bind="fadeVisible: !hasItems() &amp;&amp; !loading()" style="display: none;">  

                    <h2 class="empty-cart-title" data-i18n="cart.emptyTitle">Su carrito está vacio</h2>
                    <div class="empty-cart-message">Para seguir comprando, navegar por las categorías en el sitio, o busque su producto.</div> 
                    <div class="clearfix empty-cart-links"><a href="/" id="cart-choose-products">Elegir productos</a></div>

                </article>

                <article class="cart-products">

                    <table>

                        <tr class="trow-product">

                            <td class="product-img"><img src= "/images/medicinales-cosmetica/aceite-50ml.png" alt="imagen gotero">
                            </td>

                            <td class="tdata-product-info">
                                <div class="highlight">
                                    <div class="promo">-25%</div>
                                    <div class="promo-text"> Exclusivo online</div>
                                </div>
                                <p class="product-name"><strong>Aceite a base de CBD</strong></p>
                                <p class="prodcut-datail">Aceite medicinal con CBD en gotero de 50 ml</p>
                            </td>
                        </tr>

                        <tr class="trow-buttons">
                            <td></td>
                            <td class="trow-buttons-tdr">
                                <div class="tdata-eliminate">
                                    <a href="#" class="eliminate"><span>Eliminar</span></a>
                                </div>
                                <div class="tdata-save">    
                                    <a href="" class="save"><button>Guardar para después</button></a>
                                </div>
                            </td>
                        </tr>

                        <tr class="trow-price">
                            <td class="tdata-aumount">
                                <div class="select-amount-container">
                                    <a href="#" class="decrease-amount">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                    <input type="tel" value="1" class="amount" id="amount" min="1" max="50" required/>
                                    <a href="#" class="increase-amount">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                            </td>

                            <td class="tdata-price">
                                <p class="product-price"><div id="text-product-price">Precio sin descuentos</div><strong>$899.99</strong><p>
                            </td>
                        </tr>

                    </table>

                </article>

                <article class="cart-products">

                    <table>

                        <tr class="trow-product">

                            <td class="product-img"><img src="/images/medicinales-cosmetica/crema-facial-30ml.png" alt="imagen gotero">
                            </td>

                            <td class="tdata-product-info">
                                <div class="highlight">
                                    <div class="promo">-25%</div>
                                    <div class="promo-text"> Exclusivo online</div>
                                </div>
                                <p class="product-name"><strong>Crema facial</strong></p>
                                <p class="prodcut-datail">Crema facial abase de CBD de 30 ml</p>
                            </td>
                        </tr>

                        <tr class="trow-buttons">
                            <td></td>
                            <td class="trow-buttons-tdr">
                                <div class="tdata-eliminate">
                                    <a href="#" class="eliminate"><span>Eliminar</span></a>
                                </div>
                                <div class="tdata-save">    
                                    <a href="" class="save"><button>Guardar para después</button></a>
                                </div>
                            </td>
                        </tr>

                        <tr class="trow-price">
                            <td class="tdata-aumount">
                                <div class="select-amount-container">
                                    <a href="#" class="decrease-amount">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                    <input type="tel" value="1" class="amount" id="amount" min="1" max="50" required/>
                                    <a href="#" class="increase-amount">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                            </td>

                            <td class="tdata-price">
                                <p class="product-price"><div id="text-product-price">Precio sin descuentos</div><strong>$899.99</strong><p>
                            </td>
                        </tr>

                    </table>

                </article>

                <article class="cart-products">

                    <table>

                        <tr class="trow-product">

                            <td class="product-img"><img src="/images/medicinales-cosmetica/esencia-250ml.png" alt="imagen gotero">
                            </td>

                            <td class="tdata-product-info">
                                <div class="highlight">
                                    <div class="promo">-25%</div>
                                    <div class="promo-text"> Exclusivo online</div>
                                </div>
                                <p class="product-name"><strong>Esencia CBD</strong></p>
                                <p class="prodcut-datail">Cosmetica: esencia a base de CBA de 250 ml</p>
                            </td>
                        </tr>

                        <tr class="trow-buttons">
                            <td></td>
                            <td class="trow-buttons-tdr">
                                <div class="tdata-eliminate">
                                    <a href="#" class="eliminate"><span>Eliminar</span></a>
                                </div>
                                <div class="tdata-save">    
                                    <a href="" class="save"><button>Guardar para después</button></a>
                                </div>
                            </td>
                        </tr>

                        <tr class="trow-price">
                            <td class="tdata-aumount">
                                <div class="select-amount-container">
                                    <a href="#" class="decrease-amount">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                    <input type="tel" value="1" class="amount" id="amount" min="1" max="50" required/>
                                    <a href="#" class="increase-amount">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                            </td>

                            <td class="tdata-price">
                                <p class="product-price"><div id="text-product-price">Precio sin descuentos</div><strong>$899.99</strong><p>
                            </td>
                        </tr>

                    </table>

                </article>

            </section>

        <!-- Detalle de compra -->

        <div class="order-detail-container">

            <div class="order-detail-head">

                <h2 class="order-detail-title">Resúmen de mi orden</h2>
                <div class="voucher-container"><i id="gift-card" class="fa-solid fa-gift-card"></i><a href="/" class="voucher"><span>Agrega tú cupon aquí</span></a></div>
                
            </div>

            <section class="order-datail">
            
                <div class="payment-table" >
                    <ul class="payment-list">

                        <li>
                            <div class="payment-items">Subtotal</div>
                            <div class="payment-amounts">$899.99</div>
                        </li>
                        <li>
                            <div class="payment-items">Envío</div>
                            <div class="payment-amounts">$1000</div>
                        </li>
                        <li id="off">
                            <div class="payment-items">Descuentos</div>
                            <div class="payment-amounts">- $200</div>
                        </li>

                        <div id="division"></div>

                        <li>
                            <div class="payment-total">
                                <div class="payment-items">TOTAL</div>
                                <div class="payment-amounts">$1699.99</div>
                            </div>
                        </li>  

                    </ul>
                    <div class="container-progress-bar">
                        <progress id="amount-progress" max="100" value="70"></progress>
                        <div>$500<br>Compra minima</div>
                        <div>$5000<br>Envío gratis</div>
                    </div>
                </div>

                <div class="icons-payment-container">
                    <div class="payment-container">
                        <i id="card-icon" class="fa-solid fa-credit-card"></i>
                        <a href="" class="payment-methods-title"> Ver medios de pagos</a>
                    </div>
                    <div class="payment-container">
                        <i id="location-icon" class="fa-solid fa-map-location-dot"></i>
                        <a href="" class="location-title">Nuestras sucursales</a>
                    </div>
                    <div class="payment-container">
                        <i id="support-icon" class="fa-solid fa-headset"></i>
                        <a href=""class="payment-support-title">Atención al cliente</a>
                    </div>

                </div>

                <button class="buttons-payment" id="finish-shopping">Finalizar Compra</button>
                <button class="buttons-payment"  id="shopping-back"><a href="/">Seguir Comprando</a></button>
                <button class="buttons-payment"  id="reset-cart">Vaciar Carrito</button>
                
            </section>

        </div>
    </div>
    </main>

    <!---------------------------- ASESORAMIENTO--------------------------------->

    <div class="container-asesor">
        <div class="content-asesor">
            <i class="fa-brands fa-whatsapp"></i>
            <h2 class="title-asesor"> Asesoramiento</h2>
            <p class="p-asesor"> Proporciona detalles sobre tu consulta y estaremos encantados de ayudarte de la manera
                más eficaz posible. ¡No dudes en contactarnos!</p>
        </div>
        <div class="content-asesor">
            <i class="fa-solid fa-thumbs-up"></i>
            <h2 class="title-asesor"> Confianza</h2>
            <p class="p-asesor"> Nuestros productos son de alta calidad. Puedes estar seguro/a de que encontrarás todo
                lo que necesitas para tomar una decisión informada sobre tus compras.</p>
        </div>
        <div class="content-asesor">
            <i class="fa-solid fa-truck-fast"></i>
            <h2 class="title-asesor"> Envios </h2>
            <p class="p-asesor">¡Entregamos en todo el país!. Ofrecemos envíos rápidos y confiables de tus compras en poco tiempo y recibirlos en la comodidad de tu hogar!</p>
        </div>
    </div>

    <!---------------------------------  FOOTER ---------------------------- -->

    <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure class="figure-logo">
                    <img class="figure-logo-img" src="images/logo.png" alt="logo" />
                </figure>
            </div>
            <div class="box">
                <h3>ACLARACION</h3><br>
                <p>
                    Esta es una página para una empresa ficticia,
                    realizada para un proyecto integrador de
                    “DIGITAL HOUSE”.
                </p>
            </div>
        </div>
        <div class="group-2">
            <small>
                &copy; 2023 Green Good - Todos los Derechos
                Reservados.
            </small>
            <!-- iconos con enlace a su sitio -->
            <div>
                <a href="https://www.facebook.com/green.good.co.verde" class="icon-rd"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/green.good_/" class="icon-rd"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="#" class="icon-rd"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>