<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd67e0aa15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/logo-sinfondo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Green Good</title>
</head>

<body>
    <!--------------------------------- NAVBAR --------------------------------->
    <header>
        <nav>
            <a href="/"><img class="logo" src="images/home/logo.png" alt="logo"></a>
            <div class="search-container">
                <form class="search" action="/search">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit"><svg id="search-icon-navbar" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" className="w-5 h-5">
                                <path fillRule="evenodd"
                                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                    clipRule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <ul class="nav-center">
                <li><a href="/">Inicio</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/sale">Vender</a></li>
                <li><a href="/faqs">Ayuda</a></li><br>
                <div class="active"></div>
            </ul>
            <div class="content-icons">
                <a href="/login">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                        </svg>
                    </span>
                </a>
                <a href="/productCart" id="cart-icon">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path
                                d="M1 1.75A.75.75 0 011.75 1h1.628a1.75 1.75 0 011.734 1.51L5.18 3a65.25 65.25 0 0113.36 1.412.75.75 0 01.58.875 48.645 48.645 0 01-1.618 6.2.75.75 0 01-.712.513H6a2.503 2.503 0 00-2.292 1.5H17.25a.75.75 0 010 1.5H2.76a.75.75 0 01-.748-.807 4.002 4.002 0 012.716-3.486L3.626 2.716a.25.25 0 00-.248-.216H1.75A.75.75 0 011 1.75zM6 17.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15.5 19a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                        </svg>
                    </span>
                    <span id="added-product"><input type="tel" value="0"></span>
                </a>
                <a href="#">
                    <span><svg class="icons-navbar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" className="w-5 h-5">
                            <path fillRule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                                clipRule="evenodd" />
                        </svg>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <div class="deslizable">
        <a href="/"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <!--------------------------------- MAN PRODUCT CART --------------------------------->

    <main>

        <div class="safe-site">
            <i class="fa-solid fa-shield-halved fa-lg"></i>
            <p>SITIO SEGURO<br>
            Protegemos tus datos</p>
        </div>

        <div class="login-cart-container">
            <h4 class="login-cart-title">Si aún no te logeaste, ingresa aquí:</h4>
            <a class="link-login" href="/login">Ingresar</a>
            <div class="link-register-container">¿No tenés cuenta?<a class="link-register" href="/register"></i>Registrate</a></div>
        </div>
       
    <!------ TU PEDIDO ------>

        <div  class="shop-cart-containter">

            <div class="order-head">

                <div class="order-title">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                    <h2>Mi carrito</h2>
                </div>
                <div class="empty-cart-container"><a href="/" class="empty-cart"><span>Vaciar carrito</span></a></div>

            </div>

            <section class="order">

            <!-- Productos agregados -->

                <article class="empty-cart-content" data-bind="fadeVisible: !hasItems() &amp;&amp; !loading()" style="display: none;">  

                    <h2 class="empty-cart-title" data-i18n="cart.emptyTitle">Su carrito está vacio</h2>
                    <div class="empty-cart-message">Para seguir comprando, navegar por las categorías en el sitio, o busque su producto.</div> 
                    <div class="clearfix empty-cart-links"><a href="/" id="cart-choose-products">Elegir productos</a></div>

                </article>

                <article class="cart-products">

                    <table>

                        <tr class="trow-product">

                            <td class="product-img"><img src= "/images/product/medicinales-cosmetica/aceite-50ml.png" alt="imagen gotero">
                            </td>

                            <td class="tdata-product-info">
                                <div class="highlight">
                                    <div class="promo">-25%</div>
                                    <div class="promo-text"> Exclusivo online</div>
                                </div>
                                <p class="product-name"><strong>Aceite a base de CBD</strong></p>
                                <p class="prodcut-datail">Aceite medicinal con CBD en gotero de 50 ml</p>
                            </td>
                        </tr>

                        <tr class="trow-buttons">
                            <td></td>
                            <td class="trow-buttons-tdr">
                                <div class="tdata-eliminate">
                                    <a href="#" class="eliminate"><span>Eliminar</span></a>
                                </div>
                                <div class="tdata-save">    
                                    <a href="" class="save"><button>Guardar para después</button></a>
                                </div>
                            </td>
                        </tr>

                        <tr class="trow-price">
                            <td class="tdata-aumount">
                                <div class="select-amount-container">
                                    <a href="#" class="decrease-amount">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                    <input type="tel" value="1" class="amount" id="amount" min="1" max="50" required/>
                                    <a href="#" class="increase-amount">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                            </td>

                            <td class="tdata-price">
                                <p class="product-price"><div id="text-product-price">Precio sin descuentos</div><strong>$899.99</strong><p>
                            </td>
                        </tr>

                    </table>

                </article>

                <article class="cart-products">

                    <table>

                        <tr class="trow-product">

                            <td class="product-img"><img src="/images/product/medicinales-cosmetica/crema-facial-30ml.png" alt="imagen gotero">
                            </td>

                            <td class="tdata-product-info">
                                <div class="highlight">
                                    <div class="promo">-25%</div>
                                    <div class="promo-text"> Exclusivo online</div>
                                </div>
                                <p class="product-name"><strong>Crema facial</strong></p>
                                <p class="prodcut-datail">Crema facial abase de CBD de 30 ml</p>
                            </td>
                        </tr>

                        <tr class="trow-buttons">
                            <td></td>
                            <td class="trow-buttons-tdr">
                                <div class="tdata-eliminate">
                                    <a href="#" class="eliminate"><span>Eliminar</span></a>
                                </div>
                                <div class="tdata-save">    
                                    <a href="" class="save"><button>Guardar para después</button></a>
                                </div>
                            </td>
                        </tr>

                        <tr class="trow-price">
                            <td class="tdata-aumount">
                                <div class="select-amount-container">
                                    <a href="#" class="decrease-amount">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                    <input type="tel" value="1" class="amount" id="amount" min="1" max="50" required/>
                                    <a href="#" class="increase-amount">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                            </td>

                            <td class="tdata-price">
                                <p class="product-price"><div id="text-product-price">Precio sin descuentos</div><strong>$899.99</strong><p>
                            </td>
                        </tr>

                    </table>

                </article>

                <article class="cart-products">

                    <table>

                        <tr class="trow-product">

                            <td class="product-img"><img src="/images/product/medicinales-cosmetica/esencia-250ml.png" alt="imagen gotero">
                            </td>

                            <td class="tdata-product-info">
                                <div class="highlight">
                                    <div class="promo">-25%</div>
                                    <div class="promo-text"> Exclusivo online</div>
                                </div>
                                <p class="product-name"><strong>Esencia CBD</strong></p>
                                <p class="prodcut-datail">Cosmetica: esencia a base de CBA de 250 ml</p>
                            </td>
                        </tr>

                        <tr class="trow-buttons">
                            <td></td>
                            <td class="trow-buttons-tdr">
                                <div class="tdata-eliminate">
                                    <a href="#" class="eliminate"><span>Eliminar</span></a>
                                </div>
                                <div class="tdata-save">    
                                    <a href="" class="save"><button>Guardar para después</button></a>
                                </div>
                            </td>
                        </tr>

                        <tr class="trow-price">
                            <td class="tdata-aumount">
                                <div class="select-amount-container">
                                    <a href="#" class="decrease-amount">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                    <input type="tel" value="1" class="amount" id="amount" min="1" max="50" required/>
                                    <a href="#" class="increase-amount">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                            </td>

                            <td class="tdata-price">
                                <p class="product-price"><div id="text-product-price">Precio sin descuentos</div><strong>$899.99</strong><p>
                            </td>
                        </tr>

                    </table>

                </article>

            </section>

        <!-- Detalle de compra -->

        <div class="order-detail-container">

            <div class="order-detail-head">

                <h2 class="order-detail-title">Resúmen de mi orden</h2>
                <div class="voucher-container"><span class="voucher">Agrega tú cupon aquí:</span><input type="tel" placeholder="Ingrese código alfanumérico"></div>
                
            </div>

            <section class="order-datail">
            
                <div class="payment-table" >
                    <ul class="payment-list">

                        <li>
                            <div class="payment-items">Subtotal</div>
                            <div class="payment-amounts">$899.99</div>
                        </li>
                        <li>
                            <div class="payment-items">Envío</div>
                            <div class="payment-amounts">$1000</div>
                        </li>
                        <li id="off">
                            <div class="payment-items">Descuentos</div>
                            <div class="payment-amounts">- $200</div>
                        </li>

                        <div id="division"></div>

                        <li>
                            <div class="payment-total">
                                <div class="payment-items">TOTAL</div>
                                <div class="payment-amounts">$1699.99</div>
                            </div>
                        </li>  

                    </ul>
                    <div class="container-progress-bar">
                        <progress id="amount-progress" max="100" value="70"></progress>
                        <div>$500<br>Compra minima</div>
                        <div>$5000<br>Envío gratis</div>
                    </div>
                </div>

                <div class="icons-payment-container">
                    <div class="payment-container">
                        <i id="card-icon" class="fa-solid fa-credit-card"></i>
                        <a href="" class="payment-methods-title"> Ver medios de pagos</a>
                    </div>
                    <div class="payment-container">
                        <i id="location-icon" class="fa-solid fa-map-location-dot"></i>
                        <a href="" class="location-title">Nuestras sucursales</a>
                    </div>
                    <div class="payment-container">
                        <i id="support-icon" class="fa-solid fa-headset"></i>
                        <a href=""class="payment-support-title">Atención al cliente</a>
                    </div>

                </div>

                <button class="buttons-payment" id="finish-shopping">Finalizar Compra</button>
                <button class="buttons-payment"  id="shopping-back"><a href="/">Seguir Comprando</a></button>
                <button class="buttons-payment"  id="fqs-cart"><a href="/faqs">Consultá tus dudas</a></button>
                
            </section>

        </div>
    </div>
    </main>

    <!---------------------------- ASESORAMIENTO--------------------------------->

    <div class="container-asesor">
        <div class="content-asesor">
            <i class="fa-brands fa-whatsapp"></i>
            <h2 class="title-asesor"> Asesoramiento</h2>
            <p class="p-asesor"> Proporciona detalles sobre tu consulta y estaremos encantados de ayudarte de la manera
                más eficaz posible. ¡No dudes en contactarnos!</p>
        </div>
        <div class="content-asesor">
            <i class="fa-solid fa-thumbs-up"></i>
            <h2 class="title-asesor"> Confianza</h2>
            <p class="p-asesor"> Nuestros productos son de alta calidad. Puedes estar seguro/a de que encontrarás todo
                lo que necesitas para tomar una decisión informada sobre tus compras.</p>
        </div>
        <div class="content-asesor">
            <i class="fa-solid fa-truck-fast"></i>
            <h2 class="title-asesor"> Envios </h2>
            <p class="p-asesor">¡Entregamos en todo el país!. Ofrecemos envíos rápidos y confiables de tus compras en poco tiempo y recibirlos en la comodidad de tu hogar!</p>
        </div>
    </div>

    <!---------------------------------  FOOTER ---------------------------- -->

    <footer class="footer">
        <div class="group-1">
            <div class="box">
                <figure class="figure-logo">
                    <img class="figure-logo-img" src="images/home/logo.png" alt="logo" />
                </figure>
            </div>
            <div class="box">
                <h3>ACLARACION</h3><br>
                <p>
                    Esta es una página para una empresa ficticia,
                    realizada para un proyecto integrador de
                    “DIGITAL HOUSE”.
                </p>
            </div>
        </div>
        <div class="group-2">
            <small>
                &copy; 2023 Green Good - Todos los Derechos
                Reservados.
            </small>
            <!-- iconos con enlace a su sitio -->
            <div class="icon-container">
                <a href="https://www.facebook.com/green.good.co.verde" class="icon-fb">
                    <i class="fa-brands fa-facebook"></i>
                    <span class="icon-text">Facebook</span>
                </a>
                <a href="https://www.instagram.com/green.good_/" class="icon-ig">
                    <i class="fa-brands fa-instagram"></i>
                    <span class="icon-text">Instagram</span>
                </a>
                <a href="#" class="icon-wpp">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span class="icon-text">WhatsApp</span>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>