* {
    color: #0A1504;
    /*(botones) */
    color: #76949F;
    /*(fondos de secciones, bordes o iconos)*/
    color: #7D387D;
    /*morado vibrante detalles de diseño, como acentos, iconos o elementos de navegación*/
    color: #FFB5C2;
    /* elementos de diseño destacados, como banners, títulos o botones.*/
    
    color: #FAE3F5;

    color: #152F0E;
    color: #93D746;
    color: #B6BD2B;



}

Descubre el poder de la naturaleza,
cultiva y cuida tu bienestar. productos de cultivo y medicinales a base de cannabis,
para una vida en equilibrio. Plantando sonrisas y cosechando salud. cultivar y curar van de la mano. el bienestar es el ingrediente secreto ! cultiva una vida más plena con nosotros !

<p>¡Bienvenido a Green Good, tu destino para el cultivo y cuidado del cannabis! Ofrecemos una amplia gama de
productos de cultivo y medicinales a base de cannabis para promover tu bienestar. Únete a nosotros en Green
Good y descubre el poder de la naturaleza, cultiva y cuida tu bienestar con nuestros productos de cultivo y
medicinales a base de cannabis. ¡Te invitamos a cultivar una vida más plena con nosotros! </p>