/* CONTACTO */

#contact {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
}

#title-contact {
    font-family: 'Roboto Serif', serif;
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 2rem;
}

#container-contact {
    max-width: 25rem;
    margin: 0 auto;
}

.contact-titles {
    font-family: 'Roboto Serif', serif;
    font-size: 1.3rem;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-label {
    font-family: 'Roboto Serif', serif;
    font-size: 1rem;
    font-weight: 400;
    opacity: 1;
    margin-bottom: 5px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    outline: none;
    border-color: #0A1504;
}

.form-control::placeholder {
    color: #aaa;
}

.btn-contact {
    font-family: 'Roboto Serif', serif;
    display: block;
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    font-weight: 700;
    opacity: 1;
    color: white;
    background-color: #0A1504;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* cambia raton por manito  */
    /* carecteristicas del boton  */
}

.btn-contact:hover {
    background-color: #aaa;
}