    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      text-align: center;
      margin-top: 20%;
    }

    .img-404 {
      width: 100vw;
      object-fit: cover;
    }

    h1 {
      font-size: 36px;
      color: #333;
    }

    p {
      font-size: 24px;
      color: #666;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #59E4A8;
      color: white;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 5px;
      margin: 1rem auto;
    }

    .button:hover {
      background-color: transparent;
      color: #59E4A8;
      border: 1px solid #59E4A8;
      border-radius: 5px;
    }