#titulo{
    font-family: 'Roboto Serif', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    text-align: center;  
    padding: none;
    box-sizing: border-box;
    align-content: center;
}

#container-info {
    font-family: 'Roboto Serif', serif;
    text-align: center;  
    padding: 80px;
    box-sizing: border-box;
    align-content: center;
}
#container-info1 {
    font-family: 'Roboto Serif', serif;
    text-align: center;  
    padding: 50px;
    box-sizing: border-box;
    align-content: center;
}


#imagen1{
    margin: 30px;
}
#imagen2{
    margin: 30px;
}
#imagen3{
    margin: 30px;
}

#boton 
{
    border: 20px grey; 
    padding: 10px; 
    background-color: grey; 
    width: 33.33%;
    color: white; 
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Serif', serif; 
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 4rem;
}

