#section-login{
    background-color: #f8f8f8;
    padding: 3rem;
    text-align: center;
   
}

#container-login{
    max-width: 19rem;
    margin: 0 auto;
}

.login-title{
    font-family: 'Roboto Serif', serif;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1;
   margin-bottom: 1.5rem;
   text-align: left;
}

.form-login{
    display: block;
    width: 90%;
}
.label-login{
    font-family: 'Roboto Serif', serif;
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 1;
    text-align: left;
}

div{
    display: block;
}

.input-login{
    font-family: 'Roboto Serif', serif;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 100%;
}

.btn-login{
    font-family: 'Roboto Serif', serif;
    display: block;
    width: 100%;
    font-size: 0.5rem;
    font-weight: bold;
    opacity: 1.0;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 1px solid #0A1504;
    background-color: #0A1504;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    margin-top: 10px;
}