/* ARTICULOS */
main {
    width: 100vw;
    margin: 0 auto;
}

.cultivo {
    display: flex;
    flex-direction: column;
}

.product {
    margin: 0.8rem;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 0.5rem;
}

.product img {
    width: 100%;
    border-bottom: solid 1px #ebebeb;
}

.content-art {
    text-align: left;
    padding: 1rem;
    position: relative;
}

.send {
    font-family: 'Roboto Serif', serif;
    font-size: 0.7rem;
    padding: 5px;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: -10px;
}

.price {
    font-family: 'Roboto Serif', serif;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
}

.description {
    font-family: 'Roboto Serif', serif;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
    text-align: center;
    margin: 5px 0;
}

.btn-product {
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.9;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 1px solid #8FD8A0;
    background-color: #8FD8A0;
    border-radius: 5px;
    margin-left: 25%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-product:hover {
    opacity: 1;
    background-color: #f0f0f0;
    color: #8FD8A0;
}

/* ------------------------------- COMENTARIOS ------------------------------- */
#section-comments {
    font-family: 'Roboto Serif', serif;
    color: #0A1504;
    margin-top: 3rem;
}

.container-comments {
    margin: 0 5px;
}


#title-comments {
    font-family: 'Roboto Serif', serif;
    color: #0A1504;
    margin-bottom: 1rem;
}


.circle {
    margin: 0px;
    background: #0A1504;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* crea circulos  */
}

.p-comments {
    font-family: 'Roboto Serif', serif;
    margin: 0.8rem 0;
}

.content-star {
    margin: 0.8rem 0;
}

.fa-star {
    color: #a47e1b;
}

/*BREAK TABLET*/

@media (min-width: 768px) {

    /*deja los articulos en linea horizontal*/
    .cultivo {
        flex-direction: row;
        align-items: center;

    }
}

/*BREAK DESKTOP*/