/* ARTICULOS */
main {
    width: 100vw;
    margin: 0 auto;
    background-color: #f2f1f2;
}

.titles{
    background: linear-gradient(177deg, #008e82,#008e82, #f2f1f2, #f2f1f2);
}


.section-sub-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #f3f2f3;
}

.sub-category {
    display: flex;
    color: white;
    font-family: 'Roboto Serif', serif;
    background-color: #93d746;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0.9;
    margin: 0.7rem 2rem;
    padding: 0.8rem 0.5rem;
    /* caracteristicas de los titulares  */
}




.product {
    flex: 1;
    margin: 0.7rem;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.5rem;
    text-align: center;
    max-width: 315px;
    height: fit-content;
    background-color: white;
    margin: 1rem 10px;
    box-shadow: 0px 0px 10px rgba( 100 , 100 , 100);
    cursor: pointer;
    transition: transform .3s;
}

.product img {
    width: 100%;
    border-bottom: solid 1px #ebebeb;
}

.content-art {
    text-align: left;
    padding: 1rem;
    position: relative;
}

.send {
    font-family: 'Roboto Serif', serif;
    font-size: 0.7rem;
    padding: 5px;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    top: -10px;
    animation: border-highlight 1s linear infinite;
  }
  
  @keyframes border-highlight {
    0% {
      box-shadow: 0 0 0 0 rgba(57, 181, 74, 0.5);
    }
    50% {
      box-shadow: 0 0 0 2px rgba(57, 181, 74, 0.5);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(57, 181, 74, 0.5);
    }
  }

.price {
    font-family: 'Roboto Serif', serif;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
    text-align: end;
}

.description {
    font-family: 'Roboto Serif', serif;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
    text-align: center;
    margin: 5px 0;
}

/* ------------------------------- COMENTARIOS ------------------------------- */
#section-comments {
    font-family: 'Roboto Serif', serif;
    color: #0A1504;
    margin-top: 3rem;
}

.container-comments {
    margin: 0 5px;
}


#title-comments {
    font-family: 'Roboto Serif', serif;
    color: #0A1504;
    margin-bottom: 1rem;
}


.circle {
    margin: 0px;
    background: #0A1504;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* crea circulos  */
}

.p-comments {
    font-family: 'Roboto Serif', serif;
    margin: 0.8rem 0;
}

.content-star {
    margin: 0.8rem 0;
}

.fa-star {
    color: #a47e1b;
}

/*BREAK TABLET*/

@media (min-width: 768px) {

    /*deja los articulos en linea horizontal*/
    .section-sub-category {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

/*BREAK DESKTOP*/