.container-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
    margin: 1.5rem 0;
}

.img-detail {
    width: 100%;
    max-width: 31rem;
}

.container-price {
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;
}

.content-description {
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    border-bottom: 2px solid lightgray;
}

.title-detail {
    font-family: 'Roboto Serif', serif;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
    margin-bottom: 1.5rem;
}

.price-detail {
    font-family: 'Roboto Serif', serif;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
    margin-bottom: 1.5rem;

}

.btn {
    font-family: 'Roboto Serif', serif;
    margin-bottom: 1.5rem;
}

.form-control {
    font-family: 'Roboto Serif', serif;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    outline: none;
    border-color: #0A1504;
}

.form-control::placeholder {
    color: #aaa;
}

.cat-detail {
    font-family: 'Roboto Serif', serif;
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 1.0;
    margin-bottom: 1.5rem;

}

.share-detail {
    font-family: 'Roboto Serif', serif;
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 1.0;
    margin-bottom: 1.5rem;

}


@media (min-width: 768px) {
    .container-detail {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .container-price {
        width: 30%;
    }
}