.container-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
}

.img-detail {
    width: 100%;
    max-width: 500px;
}

.container-price {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    border-bottom: 2px solid lightgray;
}

.content-description {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

.title-detail {
    margin-bottom: 20px;
}

.price-detail {
    margin-bottom: 20px;

}

.btn {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    outline: none;
    border-color: #0A1504;
}

.form-control::placeholder {
    color: #aaa;
}

.cat-detail {
    margin-bottom: 20px;

}

.share-detail {
    margin-bottom: 20px;

}


@media (min-width: 768px) {
    .container-detail {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .container-price {
        width: 30%;
    }
}