.container-detail {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
    margin: 1.5rem auto;
    border-radius: 10px;
}


.vertical-line {
    display: none;
    border-left: 2px solid;
    height: 400px;
}


.img-detail {
    width: 100%;
    max-width: 31rem;
}

.container-price {
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;
}

.content-description {
    color: white;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    border-bottom: 2px solid lightgray;
}

.title-description{
    font-size: 2rem;
    font-weight: 600;
    opacity: 1.0;
    margin-bottom: 3rem;
    color: #9ED66F;
}

.p-description{
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 2.5rem;
}

.title-card-detail {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.title-detail {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
    margin-bottom: 1.5rem;
}

.price-detail {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
    margin-bottom: 1.5rem;

}

.btn {
    margin-bottom: 1.5rem;
}

.form-control {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    outline: none;
    border-color: #0A1504;
}

.form-control::placeholder {
    color: #aaa;
}

.cat-detail {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 1.0;
    margin-bottom: 1.5rem;

}

.share-detail {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 1.0;
    margin-bottom: 1.5rem;

}

.detail-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
}

.detail-fb,
.detail-ig,
.detail-wpp {
    text-align: center;
    border-radius: 50%;
    margin: 1rem;
    padding: 1rem;
}

.detail-fb {
    background-color: blue;
    color: white;
}

.detail-ig {
    background-color: #ab32bb;
    color: white;
}

.detail-wpp {
    background-color: green;
    color: white;
}

@media (min-width: 768px) {
    .container-detail {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .container-price {
        width: 30%;
    }
}

@media (min-width: 1000px) {
    .vertical-line {
        display: block;
    }

}