/*

#section-register {
    background-color: #f8f8f8;
    padding: 3rem;
    text-align: center;
}

#container-register {
    max-width: 19rem;
    margin: 0 auto;
}

.register-title {
    font-family: 'Roboto Serif', serif;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 2rem;
    text-align: left;
}

.label-register {
    font-family: 'Roboto Serif', serif;
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 1;
    text-align: left;
}

.input-register {
    font-family: 'Roboto Serif', serif;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-register:focus {
    outline: none;
    border-color: #0A1504;
}

.input-register::placeholder {
    color: #aaa;
}

.btn-register {
    font-family: 'Roboto Serif', serif;
    display: block;
    width: 100%;
    font-size: 0.5rem;
    font-weight: bold;
    opacity: 1.0;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 1px solid #0A1504;
    background-color: #0A1504;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    margin-top: 10px;
}

.btn-register:hover {
    background-color: #0A1504;
}

*/



.section-register{
    padding: 1rem;
    text-align: center;
   
}

/*

#container-login{
    max-width: 90%;
    margin: 0 auto;
}

*/


.label-login{
    font-family: 'Roboto Serif', serif;
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 1;
    text-align: left;
}

.label-register {
    font-family: 'Roboto Serif', serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    color: gray;
}

.input-register {
    font-family: 'Roboto Serif', serif;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}


/*
div{
    display: block;
}

*/

.input-login{
    font-family: 'Roboto Serif', serif;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 100%;
}

.btn-login{

    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.8rem 1.2rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
	font-family: 'Roboto Serif', serif;
    border: 1px solid #0A1504;
    border-radius: 5px;
    color: white;
    background-color: #402c68;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.btn-login:hover{
    opacity: 0.6;

}

.container-sesion{
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: gray;
}


button,
input {
	font: inherit;
	border: none;
	outline: none;
}


.container {
	position: relative;
	isolation: isolate;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 7rem 0;
	width: 18rem;
	height: 65rem;
	color: #fff;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 1px 1rem 
		rgba(0, 0, 0, 0.1);
}

.container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 10rem;
	background-color: #402c68;
	border-radius: 1rem 1rem 100% 100%;
}
.span-title-register {
	position: absolute;
	top: 3.5rem;
	left: 30%;
	transform: translateX(-50%);
	font-size: 2.5rem;
}

/* Animación del título del formulario*/

.span-title-register {
animation-duration: 1.5s;
animation-name: register-appear;
}

@keyframes register-appear {
from {
  margin-left: 100%;
  width: 300%;
}

to {
  margin-left: 0%;
  width: 100%;
}
}


/* Animación del formulario*/

.form-login {
	margin-top: 5rem;
	padding: 1.5rem;
	margin-top: 1.5rem;
	border-radius: inherit;
	box-shadow: inherit;
	box-shadow: 0 2px 5px gray;
	border-radius: 10px;
	background-color: inherit;
	max-width: 90%;
    height: 50rem;
	transform: translateX(1.5rem);
	animation-duration: 1.5s;
	animation-name: Form-appear;	
	}

	@keyframes Form-appear {
		from {
		  transform: translateX(-1.5rem);
		}
		
		to {
			transform: translateX(1.5rem);
		}
}


.container-input {
	position: relative;
	display: block;
	align-items: baseline;
	margin-inline: auto;
}


.form-input {
	position: relative;
	width: 100%;
	margin-top: 0.5rem;
	padding-block: 1rem;
}

/*
.span-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: 
		rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 1px;
}
*/

@media screen and (min-width:768px) {
	.container{
		width:30rem
	}
/* Animación del formulario para el nuevo tamaño de pantalla*/
	.form-login {
        max-width: 80%;
		transform: translateX(5rem);
		animation-duration: 1.5s;
		animation-name: Form-appear;	
		}

		@keyframes Form-appear {
			from {
			  transform: translateX(0rem);
			}
			
			to {
				transform: translateX(5rem);
			}
			}

}
