.publication {
    color: #fff;
    padding: 20px;
  }
  
  .btn-publication {
    background-color: #16a085;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .array-publication {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .item-publication {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #8e44ad;
    padding-bottom: 20px;
  }
  
  .img-publication {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .img-publication img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info-publication {
    flex: 1;
  }
  
  .title-publication {
    color: #2980b9;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .desc-publication {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .btns-publication {
    display: flex;
    align-items: center;
  }
  
  .btn-edit {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .btn-delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  

  /* Edición de productos */


    input[type='checkbox'] {
    display: none;
  }

  .btn-edit-cancel{
    display: none;
  }

 .container-dropdown1 {
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
  }

 .checkbox1:checked + .btn-edit + .btn-delete +.container-dropdown1 {
    max-height: 90vh;
   /* max-width: ;*/
  }

  .btn-guardar{
    background-color: #16a085;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .img-detail{
    max-width: 200px;
    max-height: 200px;
  }

  .btn-edit:focus + .btn-edit-cancel{
    display: flex;
  } 

  .container-dropdown1 .container-answer1{
  
    border-bottom: 2px solid gray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: .5rem 1rem;
    background: gray;
  }