@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Serif&display=swap');

/* ------------------------------- NAVBAR ------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* cambios generales  */
}

body {
    width: 100vw;
    background-color: #10142F;
    z-index: -1;

    /*  fondo de la pagina entera */
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px 5px #402c68;
}

nav {
    display: flex;
    height: 4rem;
    justify-content: flex-end;
    background: linear-gradient(157deg, #ede4edbf, #18004B, #10142F);
    align-items: center;
    padding: 0px 8px;
    position: relative;
    /* modifica posicion de sus hijos y aspecto del navbar  */
}

.logo {
    width: 6rem;
    margin: 0px;
    position: relative;
    animation: logo-animation 2s ease-in-out 1 alternate;
}

/* define el tamaño que ocupa en el navbar  */
@keyframes logo-animation {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.nav-center {
    display: none;
    /*  quita palabras */
}

nav a {
    color: white;
    display: inline;
    /*  colore enlaces */
}

.icons-navbar {
    width: 2rem;
    color: white;
    border-radius: 4px;
    max-height: 3rem;
    padding: 5px;
    cursor: pointer;
    /*  modifica iconos menu */
}

nav .cart-icon {
    position: relative;
}

#added-product {
    position: absolute;
    top: 0.2rem;
    z-index: 10;
    right: 2.9rem;
}

nav #added-product input {
    border-radius: 50%;
    width: 0.98rem;
    background-color: #93D746;
    color: white;
    text-align: center;
    font-size: 0.7rem;
    border: solid 0.3px #fff;
    font-weight: 600;
}

nav svg {
    transition: all 300ms;
}

nav svg:hover {
    transform: scale(1.2);
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
}

.search-container input::placeholder {
    font-size: 0.8rem;
}

.search {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5rem;
    padding: 0.25rem;
    height: 1.8rem;
    margin-left: 15px;
    justify-content: space-between;
}

.search-container input {
    border-radius: 5rem;
    padding: 0.25rem 0.5rem;
    border: none;
    font-size: 0.7rem;
    width: 100%;
    min-width: 20px;
    height: 1.5rem;
}

.search-container input:focus {
    outline: none;
}

.search-container button {
    background-color: white;
    color: grey;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#search-icon-navbar {
    color: #76949F;
    padding: auto;
    margin: auto;
    width: 2rem;
    height: 1.2rem;
}

.content-icons {
    display: flex;
    align-items: center;
}

.content-icons ul {
    background-color: rgba(16, 20, 47, 0.8);
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    width: 35%;
    z-index: 15;
}

.content-icons ul.show {
    display: block;
    height: 100vh;
}


.content-icons ul a {
    color: white;
    text-decoration: none;
}

.content-icons ul li {
    padding: 1.5rem;
}

.content-icons ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}



.deslizable {
    font-size: 2.5rem;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 20;
    background: linear-gradient(50deg, #80ef03, #2c5a404d);
    border-radius: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 5px rgba(12, 12, 12, 0.8);
    animation: deslizable-animation 700ms linear 3s infinite alternate;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.deslizable i {
    color: #10142f;
    font-size: 2.5rem;
}

.deslizable i:hover {
    opacity: 0.9;
}

@keyframes deslizable-animation {
    0% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(-3px)
    }
}

/* ------------------------------- HERO ------------------------------- */

#hero {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F2F3;
}

.container-video {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 50%;
    height: 100%;
    z-index: 0;
}

.video1 {
    margin-right: 0;
}

.video2 {
    margin-left: 0;
}

.hero-image {
    background-color: #F3F2F3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 66vw;
    z-index: 1;
    overflow: hidden;
}

.hero-image img {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
    animation-name: dropImage;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.5, 0.05, 0.1, 0.3);
    animation-fill-mode: forwards;
}

@keyframes dropImage {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 1;
        transform: translateY(50%);
    }

    70% {
        transform: translateY(-10%);
    }

    90% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}

.hero-image p {
    font-size: 2vw;
    font-weight: 600;
    position: absolute;
    text-align: center;
    font-style: oblique;
    color: #bdc61b;
    left: 0;
    right: 0;
    bottom: 1.5%;
    z-index: 1;
    opacity: 0;
    animation-name: fadeInText;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 1.0;
}

.container a,
.container-left a {
    width: 70%;
}

.btn {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.9;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 2px solid #9ED66F;
    background-color: #10142F;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* cambia raton por manito  */
    /* carecteristicas del boton  */
}

.btn:hover {
    opacity: 1;
    background-color: #f0f0f0;
    color: #9ED66F;
}

.btn-product {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.9;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 1px solid #9ED66F;
    background-color: #9ED66F;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-product:hover {
    opacity: 1;
    background-color: #f0f0f0;
    color: #9ED66F;
}

/* ------------------------------- CARRUSEL OFERTAS ------------------------------- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #10142F;
}

.card {
    flex: 1;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
    text-align: center;
    max-width: 315px;
    height: fit-content;
    background-color: #10142f;
    box-shadow: 0px 0px 10px rgba(100, 100, 100);
    cursor: pointer;
    transition: transform .3s;
    margin: 3rem 0.5rem;
    position: relative;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 0px 10px white
        /* cambia al pasar por arriba el mouse  */
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.card p {
    text-align: end;
    color: white;
}

.price-card {
    margin: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
    text-shadow: 0px 2px 5px #64ff00;
}

.desc-card {
    margin: 0.8rem;
    font-weight: 400;
    display: flex;
    justify-content: left;
}

.send-card {
    width: 12rem;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 5px;
    color: white;
    background-color: #7D387D;
    position: absolute;
    left: -4.3rem;
    top: 0.5rem;
    transform: rotate(-45deg);
}

/* ------------------------------- INICIO ------------------------------- */
.container-left,
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #10142F;
    color: white;
}

.div-begin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-1 {
    order: 2;
}

#div-2 {
    order: 3;
}

#div-3 {
    order: 4;
}

#div-1 {
    order: 1;
}

.div-home {
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, #ede4edbf, #18004B);
    border: none;
    margin: auto;
    margin-bottom: 1rem;
}

.container img,
.container-left img {
    width: 100%;
    max-width: 25rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.container .content,
.container-left .content {
    text-align: center;
    width: 100%;
}

.container h2,
.container-left h2 {
    font-size: 2rem;
    font-weight: 600;
    opacity: 1.0;
    margin-bottom: 3rem;
    color: #9ED66F;
}

.p-ocult {
    max-height: 0px;
    overflow: hidden;
    transition: all 3s
        /*oculta parrafo*/
}

.container p,
.container-left p {
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 2.5rem;
    transition: all 3s;
}

.container:hover p,
.container-left:hover p {
    max-height: 250px;
    /*muestra parrafo al hacer click*/
}

.fa-chevron-down:hover {
    transition: 1s;
    transform: rotate(-180deg);
}

.container button,
.container-left button {
    padding: 0.8rem;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #f0f0f0;
    /*modifica enlace del boton*/
}

/* ------------------------------- ASESOR -------------------------------*/
.container-asesor {
    background-color: #10142F;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 4rem 0;
}

.content-asesor i {
    font-size: 3rem;
    color: rgba(81, 241, 81, 0.9);
    margin: 1rem;
}

.title-asesor {
    font-size: 2rem;
    font-weight: 600;
    opacity: 1.0;
    color: white;
    margin: 1rem;
}

.p-asesor {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
    color: white;
    margin: 1rem;
}

/*----------------------------------------- FOOTER --------------------------------------------------*/
.footer {
    background: linear-gradient(178deg, #ede4edbf, #ede4edbf, #18004B, #10142F);
    color: whitesmoke;
    text-align: center;
    padding: 0 0.7rem;
}

.group-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    max-width: 12.5rem;
}

.box p {
    font-style: italic;
}

.figure-logo-img {
    max-width: 100%;
}

.group-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
}

small {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
    margin: 1.5rem 0;
}

/*----------------------------------------- ICONOS --------------------------------------------------*/
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-fb {
    color: blue;
}

.icon-ig {
    color: violet;

}

.icon-wpp {
    color: green;
}

.icon-fb,
.icon-ig,
.icon-wpp {
    position: relative;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    margin: 1rem;
}

.icon-text {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: none;
}

.icon-fb .icon-text {
    background-color: blue;
}

.icon-ig .icon-text {
    background-color: #ab32bb;

}

.icon-wpp .icon-text {
    background-color: green;
}

.icon-fb:hover {
    background-color: blue;
    color: white;
}

.icon-ig:hover {
    background-color: #ab32bb;
    color: white;
}

.icon-wpp:hover {
    background-color: green;
    color: white;
}

.icon-fb:hover .icon-text,
.icon-ig:hover .icon-text,
.icon-wpp:hover .icon-text {
    display: block;
}

/*----------------------------------------- BREAK --------------------------------------------------*/
@media (max-width: 767px) {
    .content-art {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

/*----------------------------------------- BREAK --------------------------------------------------*/
@media (min-width: 768px) {

    #icon-home-navbar,
    #menuIcon,
    #menuOptions {
        display: none;
    }

    .logo {
        position: relative;
    }

    .search-container {
        display: flex;
    }

    .search-container {
        width: 20%;
        /* le da un ancho al buscador */
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
        flex-wrap: nowrap;
    }

    nav a{
        margin-right: 8px;
    }

    .logo {
        max-width: 100px;
        margin-right: 0.8rem;
        /*le da un maximo tamaño al logo*/
    }

    .nav-center {
        display: flex;
        list-style: none;
        margin: auto 1rem;
        position: relative;
        /*quita puntos*/
    }

    .nav-center li {
        margin-right: 0.8rem;
        border-bottom: solid 3px transparent;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 1.5rem;
        transition: border-bottom 0.6s;
    }

    .nav-center a {
        text-decoration: none;
        text-transform: uppercase;
        /*quita subrayado*/
    }

    nav #added-product {
        right: 1.72rem;
    }

    .nav-center li:nth-child(1):hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: solid 3px #64ff00;
    }

    .nav-center li:nth-child(2):hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: solid 3px #64ff00;
    }

    .nav-center li:nth-child(3):hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: solid 3px #64ff00;
    }

    .nav-center li:nth-child(4):hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: solid 3px #64ff00;
    }

    .nav-center li:nth-child(5):hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: solid 3px #64ff00;
    }

    .card-container {
        flex-direction: row;
    }

    .title {
        font-size: 3rem;
        font-weight: 700;

        /* caracteristicas del titulo  */
    }

    .subtitle {
        font-size: 2rem;
        font-weight: 600;
        padding-top: 1rem;

        /* caracteristicas del subtitulo  */
    }

    .p-hero {
        font-size: 1rem;
        font-weight: 400;
        padding-top: 1rem;
        /* caracteristicas del parrafo  */
    }

    .container img,
    .container-left img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .container .content,
    .container-left .content {
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        /*deja imagen a la izquierda y texto a la derecha*/
    }

    .container-left {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        /*deja imagen a la derecha y texto a la izquierda*/
    }

    .container .content,
    .container-left .content {
        width: 50%;
    }

    .container a,
    .container-left a {
        width: 35%;
        text-align: center;
    }

    .btn {
        width: 60%;
    }

    .container h2 i,
    .container-left h2 i {
        display: none;
    }

    .container p,
    .container-left p {
        translate: -15px;
    }

    .container:hover p,
    .container-left:hover p {
        max-height: fit-content;
        translate: 15px;
    }

    .p-ocult {
        max-height: fit-content;
        display: block;
        /*muestra parrafo*/
    }

    .container-asesor {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .footer {
        background: linear-gradient(90deg, #ede4edbf, #18004B, #10142F);
    }

    .group-1 {
        flex-direction: row;
        justify-content: space-between;
    }
}