@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Serif&display=swap');

/* ------------------------------- NAVBAR ------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cambios generales  */
}

body {
    width: 100vw;
    /*  fondo de la pagina entera */
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    width: 20%;
    /* define el tamaño que ocupa en el navbar  */
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(125, 56, 125, 0.9);
    align-items: center;
    border-bottom: solid 1px #0A1504;
    /* modifica posicion de sus hijos y aspecto del navbar  */
}

.nav-right,
.nav-center {
    display: none;
    /*  quita palabras */
}

nav a {
    color: white;
    /*  colore enlaces */
}

.nav-center a:hover,
.nav-right a:hover {
    color: #76949F;
    /*cambie el color del enlace al pasar sobre el*/
}


.burger-menu {
    font-size: 2.5rem;
    color: white;
    border-radius: 4px;
    max-height: 3rem;
    margin-right: 1rem;
    padding-left: 10px;
    /*  modifica icono menu */
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.search-container input {
    font-family: 'Roboto Serif', serif;
    padding: 0.25rem 0.5rem;
    border: none;
    font-size: 1.2rem;
    width: 90%;
}

.search-container button {
    background-color: white;
    color: grey;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.deslizable {
    font-size: 2.5rem;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 20;
    background-color: #93D746;
    border-radius: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------------------------- HERO ------------------------------- */
#hero {
    position: relative;
    /*  contenedor padre */
}

.slider {
    aspect-ratio: 10/10;
    width: 100vw;
    height: vh;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    /* modifica el contenedor donde estarian las img*/
}

.slider img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: center;
    /*hace que con scroll muestre la siguiente imagen*/

}

.title {
    color: white;
    font-family: 'Roboto Serif', serif;
    position: absolute;
    top: 3%;
    left: 4%;
    font-size: 2rem;
    font-weight: 700;
    opacity: 1.0;

    /* caracteristicas del titulo  */
}

.subtitle {
    color: white;
    font-family: 'Roboto Serif', serif;
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 1rem;
    font-weight: 600;
    opacity: 1.0;
    padding-top: 1rem;

    /* caracteristicas del subtitulo  */
}

.titles {
    display: flex;
    color: white;
    font-family: 'Roboto Serif', serif;
    background-color: #7D387D;
    width: 100vw;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: 1.0;
    margin: 1rem 0;
    padding: 0.8rem 0.5rem;
    /* caracteristicas de los titulares  */
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 1.0;
}

.p-hero {
    color: white;
    font-family: 'Roboto Serif', serif;
    position: absolute;
    top: 17%;
    left: 5%;
    font-size: 0.4rem;
    font-weight: 400;
    opacity: 1.0;
    padding-top: 1rem;
    /* caracteristicas del parrafo  */
}


.button-hero {
    position: absolute;
    bottom: 5%;
    left: 6%;
    /* posicion del boton  */
}

.button-hero a {
    font-family: 'Roboto Serif', serif;
    font-size: 0.5rem;
    color: white;
    list-style: none;
    text-decoration: none;
    /* caracteristicas del enlace  */
}

.btn-hero {
    font-size: 0.5rem;
    font-weight: bold;
    opacity: 1.0;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 1px solid #0A1504;
    background-color: #0A1504;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.9;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 1px solid #8FD8A0;
    background-color: #8FD8A0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    /* cambia raton por manito  */
    /* carecteristicas del boton  */
}

.btn:hover {
    opacity: 1;
    background-color: #f0f0f0;
    color: #8FD8A0;
}
.btn-product {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.9;
    padding: 0.8rem 1.2rem;
    color: white;
    border: 1px solid #8FD8A0;
    background-color: #8FD8A0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-product:hover {
    opacity: 1;
    background-color: #f0f0f0;
    color: #8FD8A0;
}
/* ------------------------------- CARRUSEL OFERTAS ------------------------------- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.card {
    flex: 1;
    margin: 0.7rem;
    padding: 1.5rem;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    /* cambia al pasar por arriba el mouse  */
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.card p {
    text-align: end;
}

.price-card {
    margin: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 1.0;
}

/* ------------------------------- INICIO ------------------------------- */
.container-left,
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #f0f0f0;
    border-top: solid 1px grey;
}

.container img,
.container-left img {
    width: 100%;
    max-width: 19rem;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.container .content,
.container-left .content {
    text-align: center;
    width: 100%;
}

.container h2,
.container-left h2 {
    font-size: 2rem;
    font-weight: 600;
    opacity: 1.0;
    margin-bottom: 0.8rem;
}

.p-ocult {
    display: none;
    /*oculta parrafo*/
}

.container p,
.container-left p {
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 1.5rem;
}

.container:hover p,
.container-left:hover p {
    display: block;
    /*muestra parrafo al hacer click*/
}

.container button,
.container-left button {
    padding: 0.8rem;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #f0f0f0;
    /*modifica enlace del boton*/
}

/* ------------------------------- ASESOR -------------------------------*/
.container-asesor {
    background-color: #0A1504;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.content-asesor i {
    font-size: 3rem;
    color: #93D746;
    margin: 1rem;
}

.title-asesor {
    font-size: 2rem;
    font-weight: 600;
    opacity: 1.0;
    color: white;
    margin: 1rem;
}

.p-asesor {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
    color: white;
    margin: 1rem;
}

/* ------------------------------- FOOTER -------------------------------*/
.footer {
    background-color: #7D387D;
    color: #fff;
    text-align: center;
    padding: 0 0.7rem;
}

.group-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    max-width: 12.5rem;
}

.figure-logo-img {
    max-width: 100%;
}

.group-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

small {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
    margin: 1.5rem 0;
}

.icon-rd {
    font-size: 1.5rem;
    text-decoration: none;
    color: #f2ede3;
    text-align: center;
    padding: 0 5px;
}

.icon-rd:hover {
    color: black;
}


/* ------------------------------- BREAK TABLET  ------------------------------- */

@media (min-width: 768px) {

    .burger-menu,
    .shop-cart {
        display: none;
        /* oculta los iconos */
    }

    .search-container {
        width: 20%;
        /* le da un ancho al buscador */
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
    }

    .logo {
        max-width: 100px;
        margin-right: 0.8rem;
        /*le da un maximo tamaño al logo*/
    }

    .nav-center,
    .nav-right {
        display: flex;
        list-style: none;
        /*quita puntos*/
    }

    .nav-center li,
    .nav-right li {
        margin-right: 0.8rem;
    }

    .nav-center a,
    .nav-right a {
        text-decoration: none;
        /*quita subrayado*/
    }

    .card-container {
        flex-direction: row;
    }

    .container img,
    .container-left img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .container .content,
    .container-left .content {
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        /*deja imagen a la izquierda y texto a la derecha*/
    }

    .container-left {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        /*deja imagen a la derecha y texto a la izquierda*/
    }

    .container .content,
    .container-left .content {
        width: 50%;
    }

    .container h2 i,
    .container-left h2 i {
        display: none;
    }

    .p-ocult {
        display: block;
        /*muestra parrafo*/
    }

    .container-asesor {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .group-1 {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* ------------------------------- BREAK DESKTOP-------------------------------*/