@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&family=Roboto+Serif&family=Rubik&display=swap');

/* ------------------------------- NAVBAR ------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cambios generales  */
}

body {
    width: 100vw;
    background-color: whitesmoke;
    /*  fondo de la pagina entera */
}
.logo {
    width: 20%;
    /* define el tamaño que ocupa en el navbar  */
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #7D387D;
    align-items: center;
    border-bottom: solid 1px #0A1504;
    /* modifica posicion de sus hijos y aspecto del navbar  */
}

.nav-right,
.nav-center {
    display: none;
    margin: 0px;
    padding: 0px;
    /*  quita palabras */
}

nav a {
    color: white;
    /*  colore enlaces */
}

.nav-center a:hover,
.nav-right a:hover {
    color: #76949F;
    /*cambie el color del enlace al pasar sobre el*/
}


.burger-menu {
    font-size: 5vw;
    background-color: #0A1504;
    color: white;
    padding: 2px;
    border-radius: 4px;
    max-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    /*  modifica icono menu */
}
.shop-cart{
    font-size: 5vw;
    background-color: #0A1504;
    color: white;
    padding: 2px;
    border-radius: 4px;
    max-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    /*  modifica icono carrito */
}
.login-register{
    font-size: 5vw;
    background-color: #0A1504;
    color: white;
    padding: 2px;
    border-radius: 4px;
    max-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    /*  modifica icono registro/login */
}

/* ------------------------------- HERO ------------------------------- */
#hero {
    position: relative;
    width: 100%;
    /*  contenedor padre */
}

.img-fondo {
    width: 100%;
    height: auto;
    /* modifica imagen  */
}

.title {
    color: white;
    font-family: 'Roboto Serif', serif;
    position: absolute;
    top: 2%;
    left: 1%;
    font-size: 5vw;
    /* caracteristicas del titulo  */
}

.subtitle {
    color: white;
    font-family: 'Roboto Serif', serif;
    position: absolute;
    top: 8%;
    left: 2%;
    font-size: 3vw;
    /* caracteristicas del subtitulo  */
}

.titles {
    display: flex;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 17px;
    background-color: #7D387D;
    width: 100vw;
    /* caracteristicas de los titulares  */
}
.p-hero {
    color: white;
    font-family: 'Roboto Serif', serif;
    position: absolute;
    top: 14%;
    left: 5%;
    font-size: 2vw;
    /* caracteristicas del parrafo  */
}


.button-hero {
    position: absolute;
    bottom: 2%;
    right: 55%;
    /* posicion del boton  */
}

.button-hero a {
    font-family: 'Roboto Serif', serif;
    font-size: 8px;
    color: white;
    list-style: none;
    text-decoration: none;
    /* caracteristicas del enlace  */
}

.btn-hero {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: solid 1px #0A1504;
    background-color: #0A1504;
    color: white;
    border-radius: 4px;
    cursor: pointer; /* cambia raton por manito  */
    /* carecteristicas del boton  */
}



/* ------------------------------- CARRUSEL OFERTAS ------------------------------- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
}

.card:hover {
    background-color: #d0d0d0;
    /* cambia color al pasar por arriba el mouse  */
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    display: none;
}

.card:hover p {
    display: block;
}

/* ------------------------------- INICIO ------------------------------- */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.container img {
    width: 50%;
    max-width: 300px;
    margin-right: 20px;
}

.container .content {
    width: 50%;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.container button {
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ------------------------------- COMENTARIOS ------------------------------- */
#comments {
    color: #0A1504;
}

#title-comments{
    color: #0A1504;
}

#comments .circle {
    margin: 0px;
    background: #0A1504;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* crea circulos  */
}

/* ------------------------------- FOOTER -------------------------------*/
.footer {
    background-color: #7D387D;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.group-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box {
    max-width: 200px;
    margin-bottom: 20px;
}

.figure-logo {
    margin-bottom: 15px;
}

.figure-logo-img {
    max-width: 100%;
}

.group-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

small {
    margin-bottom: 10px;
}

.icon-rd {
    text-decoration: none;
    color: #f2ede3;
    text-align: center;
}

.icon-rd:hover {
    color: #a47e1b;
}

.fa-star {
    color: #a47e1b;
}


/* ------------------------------- BREAK TABLET ------------------------------- */

@media (min-width: 768px) {
    
    .burger-menu, .shop-cart, .login-register {
        display: none;
        /* oculta los iconos */
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .logo {
        max-width: 100px;
        margin-right: 10px;
        /*le da un maximo tamaño al logo*/
    }
    
    .nav-center,
    .nav-right {
        display: flex;
        list-style: none;
        /*quita puntos*/
    }
    
    .nav-center li,
    .nav-right li {
        margin-right: 10px;
    }
    
    .nav-center a,
    .nav-right a {
        text-decoration: none;
        /*quita subrayado*/
    }
    
    .card-container {
        flex-direction: row;
    }
    
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .container img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .container .content {
        width: 100%;
    }
}
/* ------------------------------- BREAK DESKTOP -------------------------------*/
@media (min-width: 1200px) {
}