<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/product.css">

<body>

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/product"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <div class="slider-product">
        <img src="/images/product/bannerProduct.jpg" alt="Imagen 1">
        <img src="/images/product/banner-product.jpg" alt="Imagen 2">
        <img src="/images/product/bannerProduct2.jpg" alt="Imagen 3">
    </div> 
    <main>
        <div class="sale-access-container">
            <h2>Si quieres vender tu producto haz click <a href="/sale">aquí</a></h2>
        </div>
        <h2 class="titles"> Sección de Cultivo <i class="fa-solid fa-chevron-down"></i></h2>
        <section class="category-cultive">

            <h3 class="sub-category"> Sustratos <i class="fa-solid fa-chevron-down"></i></h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/abono-growers-5L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $670 </p>
                        <p class="description">Abono "Growers" 5L</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/growers-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $2.360 </p>
                        <p class="description"> "Growers" 20L</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/growers-50L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $5.790 </p>
                        <p class="description"> "Growers" 50L</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/growers-supersoil-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.700 </p>
                        <p class="description"> "Growers" supersoil 20L</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/growers-supersoil-50L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.640 </p>
                        <p class="description"> "Growers" supersoil 50L</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/cultivateLiviano-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.100 </p>
                        <p class="description"> "Cultivate" liviano 25L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/cultivateCompleto-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.900 </p>
                        <p class="description"> "Cultivate" completo 25L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/cultivateCoco-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $3.100 </p>
                        <p class="description"> "Cultivate" coco 25L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/cultivatePremium-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.760 </p>
                        <p class="description"> "Cultivate" premium 25L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/sustratos/terrafertil-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> "Terrafertil" 20L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Macetas <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/geotextil-12,5L.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> Geotextil 12,5L</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/geotextil-circular-20L.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.900 </p>
                        <p class="description"> Geotextil 20L</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/geotextil-circular-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.000 </p>
                        <p class="description"> Geotextil 25L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/geotextil-cuadrada-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.000 </p>
                        <p class="description"> Geotextil cuadrada 25L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/rootshouse-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> "Roost House" 10L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/KOI-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> "Koi" 10L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/plastica-circular-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.500 </p>
                        <p class="description"> plastica ciruclar 20L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/plastica-circular-25L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.800 </p>
                        <p class="description"> plastica ciruclar 25L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/airpot-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.400 </p>
                        <p class="description"> "Air Pot" 10L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/airpot-30L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $2.600 </p>
                        <p class="description"> "Air Pot" 30L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/soplada-5L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $500 </p>
                        <p class="description"> Soplada 5L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/soplada-12L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.000 </p>
                        <p class="description"> Soplada 12L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/soplada-20L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.300 </p>
                        <p class="description"> Soplada 20L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/guia-16L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $1.800 </p>
                        <p class="description"> Guia 16L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/bolsa-10L.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $90 </p>
                        <p class="description"> Bolsa 10L </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Bandejas <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/bandeja-cuadrada.png" alt=""> </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $500 </p>
                        <p class="description"> Bandeja </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/bandeja-semillera.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $700 </p>
                        <p class="description"> Bandeja semillero </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/jiffy-circular.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $270 </p>
                        <p class="description"> Jiffy ciruclar </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/macetas/jiffys-cuadrado.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $270 </p>
                        <p class="description"> Jiffy cuadrado </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>
        </section>

        <h2 class="titles"> Sección Medicinal <i class="fa-solid fa-chevron-down"></i> </h2>
        <section class="category-medicine">
            <h3 class="sub-category"> Cosmetica <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/detox-facial-30ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Detox facial con CBD 30ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/lipbalm-5gr.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Lipbalm con CBD 5gr </p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/shampoo-acondicionador-Xml.png"
                            alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Shampoo + Acondicionador con CBD 200ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Aceites <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/aceite-25ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 25ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/aceite-50ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 50ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/aceite-150ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 150ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/aceite-250ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Aceite cannabico 250ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/esencia-150ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Esencia 150ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/esencia-250ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Esencia 250ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>

            <h3 class="sub-category"> Cremas <i class="fa-solid fa-chevron-down"></i> </h3>
            <section class="section-sub-category">

                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/crema-hidratante-Xml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="price"> $6.770 </p>
                        <p class="description"> Crema Hidratante con CBD Xml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/crema-facial-30ml.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> Crema facial con CBD 30ml</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
                <article class="product">
                    <a href="/product/detail"> <img src="/images/product/medicinales-cosmetica/endotica-90gr.png" alt="">
                    </a>
                    <div class="content-art">
                        <p class="send"> Envio Gratis</p>
                        <p class="price"> $6.770 </p>
                        <p class="description"> "Endotica" 90gr</p>
                        <a href="/product/cart"> <button type="submit" class="btn-product"> Agregar al carrito</button></a>
                    </div>
                </article>
            </section>
        </section>

        <!-- /* ------------------------------- COMENTARIOS ------------------------------- */ -->
        <section id="section-comments">
            <div class="container-comments">
                <div>
                    <h2 id="title-comments"> Opiniones de nuestros clientes </h2>
                    <p> ¡Echa un vistazo a nuestras calificaciones y opiniones!</p>
                </div>
                <div class="content-star">
                    <h3>4,7</h3>
                    <div class="comments-stars"> <!--estrellas -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>28 reseñas</p>
                </div>
                <hr />
                <div class="usr-comment">
                    <div class="circle-1"></div>
                    <div class="info-comment">
                        <h6>Laura Sánchez:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 2 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    Quería compartir mi experiencia con los productos de Green Good. Compré semillas y
                    nutrientes
                    para mi cultivo personal y quedé impresionada con la calidad y el rendimiento de las
                    plantas.
                    ¡Definitivamente recomiendo Green Good
                </p>
                <hr />
                <div class="usr-comment">
                    <div class="circle-2"></div>
                    <div class="info-comment">
                        <h6>Marcos Hernández:</h6>
                        <div> <!--estrellas -->
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>Hace 3 semanas</p>
                    </div>
                </div>
                <p class="p-comments">
                    He estado usando los productos medicinales a base de cannabis de Green Good para tratar mi
                    artritis y los resultados han sido notables. Gracias a su selección de aceites y cremas,
                    puedo
                    manejar el dolor y la inflamación de manera efectiva. ¡Excelente trabajo, Green Good!
                </p>
            </div>
            <hr />
        </section>

    <!---------------------------- ASESORAMIENTO--------------------------------->

    <%- include('../partials/counseling')%>

    <!---------------------------------  FOOTER ---------------------------- -->

    <%- include('../partials/footer')%>

</body>

</html>