<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/sale.css">

<body>

    <%- include('../partials/header')%>

   <!-- <main>

        <section class="publication">
            <h2>Mis Publicaciones</h2>
            <a href="/post"> <button class="btn-publication">Crear Publicación</button> </a>
            <ul class="array-publication">
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </main>-->

    <!-- Sale and product edition draft -->
    <main> 
        <section class="publication">
            <h2>Mis Publicaciones</h2>
           <button type="button" class="btn-publication">Crear Publicación</button>
            <ul class="array-publication">
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <input id="input1" class="checkbox1" type="checkbox" >
                            <label for="input1" class="btn-edit">Editar</label>
                            <button class="btn-delete">Eliminar</button>
                            
                            <div class="container-dropdown1">
                                <div class="container-answer1">
                                    <article class="container-detail">
                                        <img class="img-detail" src="/images/product/medicinales-cosmetica/crema-hidratante-Xml.png">
                                        <div class="vertical-line"></div>
                                        <div class="container-price">
                                            <h2 class="title-detail"> Producto </h2>
                                            <p class="price-detail"><strong>$5000</strong></p>
                                            <p class="cat-detail">Categoría: <strong>Cultivo</strong></p>
                                            <p class="cat-detail">Stock: <strong>Disponible</strong></p>
                                            <p class="cat-detail">Envio: <strong>Gratis</strong></p>
                                            <button class="btn-guardar">Guardar Cambios</button>
                                        </div>
                                    </article>
                                </div>
                            
                        </div>
                        </div>

                </li>
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <div class="modal-wrapper">
            <div class="back-shadow"></div>
            <div class="wrapper">
                <div class="header">
                    <ul>
                        <li class="active form-1-step">
                            <div>
                                <p>1</p>
                            </div>
                        </li>
                        <li class="form-2-step">
                            <div>
                                <p>2</p>
                            </div>
                        </li>
                        <li class="form-3-step">
                            <div>
                                <p>3</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-wrap">
                    <div class="container-form-1">
                        <form>
                                <div class="title-sale">
                                    <h2>¡Hola! Contanos que vas a publicar. <br><br> Empecemos con los datos básicos</h2>
                                <br></div>
                                        <label class="label-sale" for="foto">Foto de Producto:</label>
                                        <input class="input-sale" type="file" id="foto" name="foto" accept="image/*" required>
                                        <label for="InputName" class="label-sale">Nombre del producto</label>
                                        <input type="text" class="input-sale" id="InputName" placeholder="Ingrese Nombre..."
                                            minlength="4" maxlength="10" required />

                                        <label for="InputPrice" class="label-sale">Precio</label>
                                        <input type="number"  class="input-sale" min="1" id="InputPrice" placeholder="Ingrese Precio..."
                                            required />
                                <div class="form-1-btns">
                                    <button type="button" class="btn-next">Siguiente</button>
                                </div>
                        </form>
                    </div>
                    <div class="container-form-2" style="display: none;">
                        <h2>Ahora, categoría y descripción</h2>
                        <form>
                                    <label class="label-sale">Categoría:</label>
                                    <select name="categoria" id="" class="input-sale">
                                        <option value="Sustrato">Sustrato</option>
                                        <option value="Macetas">Macetas</option>
                                        <option value="Bandeja">Bandeja</option>
                                        <option value="Cosmetica">Cosmetica</option>
                                        <option value="Aceites">Aceites</option>
                                        <option value="Cremas">Cremas</option>
                                    </select>
    
                                    <label for="InputDescription" class="label-sale">Descripción</label>
                                    <input type="text" class="input-sale" minlength="6" id="InputDescription"
                                         required />

                                <div class="form-2-btns" style="display: none;">
                                    <button type="button" class="btn-back">Atrás</button>
                                    <button type="button" class="btn-next">Siguiente</button>
                                </div>
                        </form>
                    </div>
                    <div class="container-form-3" style="display: none;">
                        <h2>Para Finalizar, decinos la categoría del producto y el tipo de envío</h2>
                        <form>
                                    <label for="InputCarac" class="label-sale">Características</label>
                                    <input type="text" class="input-sale"  minlength="6" id="InputCarac"
                                        required />
                                        <label class="label-sale">Envío Gratis</label><br>
            
                                <div class="container-shipping">
                                    <label class="label-radio" for="si">Si</label>
                                    <input type="radio" id="si" name="envio" value="si">
                                    <label class="label-radio" for="no">No</label>
                                    <input type="radio" id="Comprador" name="envio" value="no">
                                </div>
        
                                <div class="form-3-btns" style="display: none;">
                                    <button type="button" class="btn-back">Atrás</button>
                                    <button type="button" class="btn-done">Finalizar</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>


     <!---------------------------- ASESORAMIENTO--------------------------------->

    <%- include('../partials/counseling')%>

    <!---------------------------------  FOOTER ---------------------------- -->

    <%- include('../partials/footer')%>

</body>

<script>

//Definir variables de acuerdo a las clases de las etiquetas a operar

let form_1 = document.querySelector(".container-form-1");
let form_2 = document.querySelector(".container-form-2");
let form_3 = document.querySelector(".container-form-3");

let form_1_btns = document.querySelector(".form-1-btns");
let form_2_btns = document.querySelector(".form-2-btns");
let form_3_btns = document.querySelector(".form-3-btns");

let form_1_next_btn = document.querySelector(".form-1-btns .btn-next");
let form_2_back_btn = document.querySelector(".form-2-btns .btn-back");
let form_2_next_btn = document.querySelector(".form-2-btns .btn-next");
let form_3_back_btn = document.querySelector(".form-3-btns .btn-back");

let form_2_step= document.querySelector(".form-2-step");
let form_3_step = document.querySelector(".form-3-step");

let btn_done = document.querySelector(".btn-publication");
let modal_wrapper = document.querySelector(".modal-wrapper");
let shadow = document.querySelector(".back-shadow");

//Función para actualizar vista de botones y estilo en el "paso" del formulario, una vez se obtenga el evento click sobre el botón

form_1_next_btn.addEventListener("click", () => {
   form_1.style.display = "none";
   form_2.style.display = "flex";

   form_1_btns.style.display = "none";
   form_2_btns.style.display = "flex";
   form_2_btns.style.justifyContent = "space-between"

   form_2_step.classList.add("active");
});

//Función para actualizar vista de botones y estilo en el "paso" del formulario, una vez se obtenga el evento click sobre el botón

form_2_back_btn.addEventListener("click", () =>{
   form_1.style.display = "flex";
   form_2.style.display = "none";

   form_1_btns.style.display = "flex";
   form_2_btns.style.display = "none";

   form_2_step.classList.remove("active");
});

//Función para actualizar vista de botones y estilo en el "paso" del formulario, una vez se obtenga el evento click sobre el botón


form_2_next_btn.addEventListener("click",  () =>{
   form_2.style.display = "none";
   form_3.style.display = "flex";

   form_3_btns.style.display = "flex";
   form_3_btns.style.justifyContent = "space-between"
   form_2_btns.style.display = "none";

   form_3_step.classList.add("active");
});

//Función para actualizar vista de botones y estilo en el "paso" del formulario, una vez se obtenga el evento click sobre el botón


form_3_back_btn.addEventListener("click", () =>{
    form_2.style.display = "flex";
    form_3.style.display = "none";

    form_3_btns.style.display = "none";
    form_2_btns.style.display = "flex";
        

    form_3_step.classList.remove("active");
});

//Funciones para operar el contenedor tipo modal que aparece al finalizar el formulario, una vez se obtenga el evento click
  
btn_done.addEventListener("click", () =>{
        modal_wrapper.classList.add("active");
})

shadow.addEventListener("click", () =>{
        modal_wrapper.classList.remove("active");
})


// El script y formulario de arriba son una versión adaptada del código que se encuentra aquí: https://github.com/codingmarket07/Multi-Step-Progressive-Form 

</script>

</html>