<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/sale.css">

<body>

    <%- include('../partials/header')%>

   <!-- <main>

        <section class="publication">
            <h2>Mis Publicaciones</h2>
            <a href="/post"> <button class="btn-publication">Crear Publicación</button> </a>
            <ul class="array-publication">
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </main>-->

    <!-- Sale and product edition draft -->
    <main> 
        <section class="publication">
            <h2>Mis Publicaciones</h2>
            <a href="/product/post"> <button class="btn-publication">Crear Publicación</button> </a>
            <ul class="array-publication">
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <input id="input1" class="checkbox1" type="checkbox" >
                            <label for="input1" class="btn-edit">Editar</label>
                            <button class="btn-delete">Eliminar</button>
                            
                            <div class="container-dropdown1">
                                <div class="container-answer1">
                                    <article class="container-detail">
                                        <img class="img-detail" src="/images/product/medicinales-cosmetica/crema-hidratante-Xml.png">
                                        <div class="vertical-line"></div>
                                        <div class="container-price">
                                            <h2 class="title-detail"> Producto </h2>
                                            <p class="price-detail"><strong>$5000</strong></p>
                                            <p class="cat-detail">Categoría: <strong>Cultivo</strong></p>
                                            <p class="cat-detail">Stock: <strong>Disponible</strong></p>
                                            <p class="cat-detail">Envio: <strong>Gratis</strong></p>
                                            <button class="btn-guardar">Guardar Cambios</button>
                                        </div>
                                    </article>
                                </div>
                            
                        </div>
                        </div>

                </li>
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
                <li class="item-publication">
                    <div class="img-publication">
                        <img src="ruta-de-la-imagen.jpg" alt="img publicación">
                    </div>
                    <div class="info-publication">
                        <h3 class="title-publication">Título de la publicación</h3>
                        <p class="desc-publication">Descripción de la publicación</p>
                        <div class="btns-publicacion">
                            <button class="btn-edit">Editar</button>
                            <button class="btn-delete">Eliminar</button>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

    </main>


     <!---------------------------- ASESORAMIENTO--------------------------------->

    <%- include('../partials/counseling')%>

    <!---------------------------------  FOOTER ---------------------------- -->

    <%- include('../partials/footer')%>

</body>

</html>