  /*----------------------------------------- PRODUCTOS --------------------------------------------------*/
  main {
    width: 100vw;
    position: relative;
  }

  .sale-access-container {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-left: 0.2rem;
    padding: 10px 20px;
    z-index: 1;
    width: 100%;
    background-color: #ab32bb;
    box-shadow: 0px 0px 10px #d900f6;
    border-radius: 18% 7% / 100% 11%;
    text-align: center;
    opacity: 1;
    animation: show 0.5s linear;
  }

  @keyframes show {

    0% {
      opacity: 0;
      transform: translateX(50px);

    }

    30% {
      opacity: 0.01;
      transform: translateX(30px);

    }

    100% {
      transform: translateX(-0.5%);
      opacity: 1;
      top: -20px;
      right: 0.5%;
    }
  }

  .sale-access-container h2 {
    font-size: 1.2rem;
    color: white;
    text-shadow: 0px 0px 15px white;
  }

  .slider-product {
    aspect-ratio: 16/9;
    width: 100vw;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .slider-product img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 30s;
  }

  .slider-product img:first-child {
    opacity: 1;
    z-index: 1;
    /* 10 segundos para la primera imagen */
    animation: slide 30s infinite;
    animation-delay: 0s;
  }

  .slider-product img:nth-child(2) {
    animation: slide 30s infinite;
    animation-delay: 10s;
    z-index: 2;
    /* Establece una duraci贸n de visualizaci贸n de 10 segundos para la segunda imagen */
  }

  /* Establece una duraci贸n de visualizaci贸n de 10 segundos para la tercera imagen */
  .slider-product img:nth-child(3) {
    animation: slide 30s infinite;
    animation-delay: 20s;
    z-index: 3;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    5% {
      opacity: 1;
      transform: translateX(0);
    }

    25% {
      opacity: 1;
      transform: translateX(0);
    }

    30% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  
  .categories-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    padding: 1%;
    border: solid 2px #424142;
    width: 90vw;
    border-radius: 20px;
    background-color: #0a0909;
  }

  
  .categories-items{
    position: relative;
    width: 130px;
    height: 130px;
    margin: 10px;
    border: solid 2px #fff;
    box-shadow: 0px 0px 8px #fff;
    overflow: hidden;
  }

  .categories-items:hover{
    box-shadow: 0px 0px 12px #fff;
  }
  
  .categories-items img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
  }

  .categories-items:hover img{
    width: 110%;
    height: 110%;
  }
  
  .categories-items h3{
    position: absolute;
    top: 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px #10142f;
    transition: all 0.5s;
  }

  .categories-items:hover h3{
    transform: translateY(20%);
  }
  
  .prodcuts-conteiner{
    display: flex;
    flex-wrap: wrap;
  }
  
  .category-medicine{
    order: 1;
    position: relative;
  }

  .category-cultive{
    order: 2;
    position: relative;
  }

.titles {
  display: flex;
  color: white;
  background-color: #10142F;
  width: 100vw;
  font-size: 1.7rem;
  font-weight: 700;
  opacity: 1.0;
  padding: 0.8rem 0.5rem;
  margin: 3rem 0;
  border-radius: 20px;
}

.title-cultive{
  border: 1px solid #80ef03;
  box-shadow: 0 0 10px #9ed66f;
}

.title-medicine {
  border: 1px solid #76949f;
  box-shadow: 0 0 10px #add;
}

.cultive-div, .medicine-div{
  height: 0;
  overflow: hidden;
  transition: height 0.8s ease-in-out;
}

.cultive-div.activeDiv{
  height: 40vh;
  overflow: visible;
}
.cultive-div.activeDiv.activeHeight{
  height: fit-content;
}

.medicine-div.activeDiv{
  height: 30vh;
  overflow: visible;
}
.medicine-div.activeDiv.activeHeight{
  height: fit-content;
}


.section-sub-category {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #10142F;
}
.section-sub-category.active {
  height: 400px;
  max-height: 400px;
  overflow: scroll; 
}

.sub-category {
  display: flex;
  color: white;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.9;
  padding: 0.8rem 0.5rem;
  margin: 2rem 0px;
}

.subCat-cultive{
  background-color: #80ef03
}

.subCat-medicine{
  background-color: #90bdbd;
}

  

  /* ------------------------------- COMENTARIOS ------------------------------- */
  #section-comments {
    color: white;
    margin-top: 3rem;
  }

  .container-comments {
    margin: 0 5px;
  }

  #title-comments {
    color: white;
    margin-bottom: 1rem;
  }

  .circle-1 {
    margin: 10px 0px 10px 10px;
    background-image: url(/images/comment/perfil-comment2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .circle-2 {
    margin: 10px 0px 10px 10px;
    background-image: url(/images/comment/perfil-comment.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .info-comment h6 {
    font-size: 1rem;
  }

  .p-comments {
    margin: 0.8rem 0;
  }

  .content-star {
    margin: 0.8rem 0;
  }

  .fa-star {
    color: #a47e1b;
    padding: 5px;
  }

  /*----------------------------------------- BREAK --------------------------------------------------*/
  @media (min-width: 768px) {

    .section-sub-category{
      height: 55vh;
    }

    .categories-items{
      position: relative;
      width: 200px;
      height: 200px;
    }

    .categories-items h3{
      top: 8rem;
      font-size: 1.5rem;
    }
    
    .sale-access-container {
      display: inline-block;
      position: absolute;
      top: 0.5%;
      right: 0.5%;
      margin-right: 50px;
      margin-bottom: 25px;
      padding: 10px 20px;
      z-index: 999;
      width: 300px;
      background-color: #ab32bb;
      box-shadow: 0px 0px 10px #d900f6;
      border-radius: 18% 7% / 100% 11%;
      text-align: center;
      opacity: 1;
      animation: show 5s linear;
    }

    @keyframes show {

      0% {
        opacity: 0;
        transform: translateX(50px);

      }

      70% {
        opacity: 0.01;
        transform: translateX(30px);

      }

      100% {
        transform: translateX(-0.5%);
        opacity: 1;
        right: 0.5%;
      }

    }

    .sale-access-container h2 {
      font-size: 1.2rem;
      color: white;
      text-shadow: 0px 0px 15px white;
    }

    .slider-product {
      width: 100vw;
      height: 50vh;
    }

    .slider-product img {
      width: 100vw;
      height: 50vh;
    }

    .section-sub-category {
      max-width: 100%;
    }

    .product {
      flex-basis: 20%;
    }
  }