body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 1rem auto;
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.inputs-div{
    max-width: 70%;
    display: inline;
}

span {
    display: block;
}

.info {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 1px 5px 10px #402c68e0;
    width: 100%;
    box-sizing: border-box;
}

.info span {
    font-weight: bold;
}

#img {
    margin: 1rem 25%;
    width: 50%;
    box-shadow: 1px 5px 10px #402c68e0;
}

#foto {
	display: none;	
}

#change_photo {
    border: solid 1px gainsboro;
    margin: 50px 35%; 
    color: #ede4ed;
    padding: 10px;
    font-size: 0.7rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    background-color: #402c68;
}

.address-div {
    display: grid;
    justify-items: center;
    border: solid 1.5px #402c68;
    padding: 20px;
    border-radius: 10px;
    background-color: #18004b0a;
    color: #18004b;
}

.cancelar-button 
{
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
    display: none;
  }
.btn-delete {
    position: relative;
    right: 0px;
    z-index: 1;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

.save-button {
    display: none;
    padding: 10px 10px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1;
}

.save-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.save-button.hide {
    opacity: 0;
}


.error{
	display: block;
	color: #db7070;
	font-size: 0.7rem;
	font-weight: 600;
	transition: all 0.5s;
	margin: 10px 0;
	opacity: 0;
	text-align: left;
}

.error-icon{
	display: inline-block;
	color: #db7070;
	font-size: 1.2rem;
	width: 1.5rem;
	font-weight: 600;
	position: relative;
	top: 7px;
    left: 1%;
}
  
.is-valid {
	border-color: rgb(175 236 175);
	box-shadow: 0 0 10px rgb(184 223 184);
}
  
.not-valid {
	border-color: rgb(215 151 148);
	box-shadow: 0 0 10px rgb(247 145 139);
}