@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.body-publications {
    color: white;
    background: #10142F;
    font-size: 16px;
    position: relative;
}

.body-publications.modal-active {
  color: white;
  background: #10142F;
  font-size: 16px;
  position: relative;
  overflow-y: hidden;
}


.publication {
    color: #fff;
    padding: 20px;
}

.btn-publication {
    background-color: #16a085;
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.img-publication {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.img-publication img {
    width: 100%;
    height: 100%;
}


.title-publication {
    color: #2980b9;
    font-size: 22px;
    margin-bottom: 10px;
}

.price-publication {
    font-size: 16px;
    margin-bottom: 10px;
}

.desc-publication {
    font-size: 16px;
    margin-bottom: 10px;
}

.stock-publication {
    font-size: 16px;
    margin-bottom: 10px;
}

.btns-publication {
    display: flex;
    align-items: center;
}

.btns-a {
    display: flex;
}

.btn-edit {
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 1rem 1rem;
    cursor: pointer;
}

.btn-delete {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 1rem;
  cursor: pointer;
}

.btn-mark-sold {
cursor: pointer;
padding: 5px 10px;
font-size: 16px;
border-radius: 5px;
margin-left: 1rem;
}

/* Edición de productos */
.container-dropdown1 .container-answer1{
  
    border-bottom: 2px solid gray;
    padding: .5rem 1rem;
    background: #53476d;
    border-radius: 8px;
    max-width: 300px;
    margin-top: 15px;
    padding: 20px;
  }

/* Edición de productos */


.btn-save {
    background-color: #16a085;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
}


body{
    font-family: 'Roboto Serif', serif;
}
#sale {
    padding: 50px;
    text-align: center;
}

#title-sale {
    font-family: 'Roboto Serif', serif;
    font-size: 32px;
    margin-bottom: 30px;
}

#container-sale {
    max-width: 400px;
    margin: 0 auto;
}

.sale-titles {
    font-family: 'Roboto Serif', serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}

.label-sale-edit {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.input-sale-edit {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    outline: none;
    border-color: #0A1504;
}

.form-control::placeholder {
    color: #aaa;
}


/* -------------------------------- */



.container-dropdown1 .container-answer1{
  
    border-bottom: 2px solid gray;
    padding: .5rem 1rem;
    background: #53476d;
    border-radius: 8px;
    max-width: 300px;
    margin-top: 15px;
    padding: 20px;
  }



  .form-container,
  .form-container div > *{
    display: block;
  }

 
  .form-container > label,
  .form-container > input{
    display: block;
    color: gray
  }

.container-form-1,
.container-form-2,
.container-form-3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* vertical */
	max-width: 80%;
  height: 630px;
	margin-left: auto;
	margin-right: auto;
}

.container-form-1 form{
 display: flex;
 flex-direction: column;
 height: 615px;
  justify-content: space-between;
  width: 95%
}

.container-form-2 form{
  display: flex;
  flex-direction: column;
  height: 615px;
  justify-content: space-between;
  width: 95%
}

.container-form-3 form{
  display: flex;
  flex-direction: column;
  height: 615px;
   justify-content: space-between;
   width: 95%
}


.container-form-1 h2,
.container-form-2 h2,
.container-form-3 h2 {
  display: block;
  margin-bottom: 2rem;

}

input[type=file]{
  width: 100%;
  padding: 4px 2px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text],
input[type=number],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 2px;
  box-sizing: border-box;
}

.container-shipping{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.container-shipping-edit{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 6px
}



.label-radio , .label-radio + input[type=radio]{
  width: 20%
}

.span-close-form{
  position: absolute;
  cursor: pointer;
  height: 10px;
  width: 10px;
  color: gray;
  right: 1%;
  top: -0.1%
}

#imgCreate{
  width: 40%;
  margin: auto;
}


/* Los estilos a continuación son una versión adaptada del código que se encuentra aquí: https://github.com/codingmarket07/Multi-Step-Progressive-Form  */

.wrapper{
position: fixed;
width: 90%;
height: 90%;
max-height: 800px;
background: #fff;
color:black;
top: 10%;
left:2.5%;
padding: 1px;
border-radius: 8px;
border: 15px solid #402C68;
font-family: inherit;
overflow-y: scroll;
}


.wrapper .header{
  margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper .header ul{
	display: flex;
  margin-left: 24%;
  margin-right: 20%;

}

.wrapper .header ul li{
	margin-right: 30px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55px;
	width: 100%;
	height: 2px;
	background: #bfc0c0;
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p{
	width: 50px;
	height: 50px;
	background: #bfc0c0;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.wrapper .header ul li.active:before{
	background: #402C68;
}

.wrapper .header ul li.active p{
	background: #402C68;
}

.wrapper .form-wrap{
	margin-bottom: 25px;


}

.wrapper .form-wrap h2{

	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 1.1rem;
}

.wrapper .form-wrap .input-wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
  color: gray;
  position: relative;
}

.wrapper .form-wrap .input-wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form-wrap .input-wrap label{
	display: block;
	margin-bottom: 5px;
}


.wrapper .form-wrap .input-wrap .input{
	border: 2px solid #bfc0c0;
	border-radius: 3px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}

.wrapper .form-wrap .input-wrap .input:focus{
	border-color: #bfc0c0;
}

.wrapper .form-1-btns,
.wrapper .form-2-btns,
.wrapper .form-3-btns{
	width: 350px;
	max-width: 100%;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.wrapper .form-1-btns,
.wrapper .form-2-btns,
.wrapper .form-3-btns{
	display: flex;
}

.wrapper .form-1-btns,
.wrapper .form-2-btns,
.wrapper .form-3-btns{
	justify-content: flex-end;
}

.wrapper .form-1-btns button,
.wrapper .form-2-btns button,
.wrapper .form-3-btns button {
	border: 0;
	padding: 12px 15px;
	background: #402C68;
	color: #fff;
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .form-1-btns button.btn-back,
.wrapper .form-2-btns button.btn-back,
.wrapper .form-3-btns button.btn-back{
	background: #bfc0c0;
}


.wrapper .form-1-btns button.btn-next:hover,
.wrapper .form-2-btns button.btn-next:hover,
.wrapper .form-3-btns button.btn-done:hover{
	background: #8577d2;
}

.wrapper .form-2-btns button.btn-back:hover,
.wrapper .form-3-btns button.btn-back:hover{
	background: #8b8c8c;
}

.btn-reset{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #8577d2;
  color: white;
  border: none
}

.modal-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal-wrapper .back-shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal-wrapper .success-wrap.active{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background:white;
	padding: 50px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal-wrapper .success-wrap.active {
	margin-right: 20px;
	width: 200px;
	height: 200px;
	background: white;
	color: black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
  border: 15px solid #402C68;
}

.fa-solid.fa-circle-check{
  color:#402C68;
  margin-left: 0.2rem;
  margin-right: 0.8rem;
}

.modal-wrapper.active{
	visibility: visible;
}

.modal-wrapper.active .back-shadow{
	opacity: 1;
}

.modal-wrapper.active .success-wrap.active{
	transform: translate(-50%,-50%);
}

.error {
  display: block;
  color: #db7070;
  font-size: 0.7rem;
  font-weight: 600;
  transition: all 0.5s;
  margin-bottom: 10px;
  opacity: 0;
}

.error-icon{
	display: inline-block;
	color: #db7070;
	font-size: 1.2rem;
	width: 1.5rem;
	font-weight: 600;
	position: absolute;
  top: 110.3%;
  right: 5%;
}


.is-valid {
  border-color: rgb(175 236 175);
  box-shadow: 0 0 10px rgb(184 223 184);
}

.not-valid {
  border-color: rgb(215 151 148);
  box-shadow: 0 0 10px rgb(247 145 139);
}


/*-------------------------------------------------------------------------------------/*

/* Breakpoints */

@media (min-width: 300px) {

  /* .img-publication img{
    display: none;
  } */

}

@media (min-width: 500px) {

  .img-publication img{
    display: block;
  }


	.wrapper{
		width: 80%;
    max-width: 500px;
    left: 15%;
	}

  .form-container,
  .form-container div > *{
    display: block;
  }

 
  .form-container > label,
  .form-container > input{
    display: block;

  }


.container-form-1,
.container-form-2,
.container-form-3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* vertical */
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.container-form-1 form {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-wrap: wrap;
}

.container-form-2 form{
  display: flex;
  flex-direction: column;
  height: inherit;
   justify-content: space-between;
}


.container-form-3 form{
  display: flex;
  flex-direction: column;
  height: inherit;
   justify-content: space-between;
}


.container-form-1 h2,
.container-form-2 h2,
.container-form-3 h2 {
  display: block;
  margin-bottom: 2rem;

}

input[type=file]{
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type=text],
input[type=number],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 1px;
  box-sizing: border-box;
}

.container-shipping{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.label-radio , .label-radio + input[type=radio]{
  width: 20%
}

/* CSS from Register to style product img:  */
.photo{
	margin-bottom: 15px;
}

#img {
	margin: 0 30%;
	width: 6rem;
	margin-top: 1rem; 
	box-shadow: none;
}

#foto {
	display: none;	
}

#change_photo {
  border: solid 1px gainsboro;
  margin: 10px 26%;
  color: #ede4ed;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  background-color: #402c68;
  display: block;
  width: 45%;
  text-align: center;
}
/* ------------------------------------------ */

}
  @media (min-width: 768px) {

	.wrapper .header ul li{
		margin-right: 50px;
	}

  }

  @media (min-width: 768px) {
    article{
      position: relative;
    }
    .container-answer1{
      position: absolute;
      top: 80;
      left: 400;
    }
  }

  @media (min-width: 1000px) {

    .wrapper{
      left: 30%;
    }
  }

  @media (min-width: 1279px) {
	
	.wrapper .header ul li{
		margin-right: 70px;
	}

	.wrapper .header ul li:before{
		width: 135%;
	}

	.wrapper{
		width: 40%;
    max-width: 500px;
    left: 35%;

	}

}