<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 - Página no encontrada</title>
  <link rel="stylesheet" href="404.css">
</head>
<body>
  <div class="container">
<img src="/images/home/error.jpg" alt="">
    <a href="home.ejs">Volver a la página de inicio</a>
  </div>
</body>
</html>