<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/info.css">

<body>
    <!--------------------------------- NAVBAR --------------------------------->

    <%- include('../partials/header')%>

    <div class="deslizable">
        <a href="/info"> <i class="fa-solid fa-arrow-up"></i></a>
    </div>

    <main>
        <div class="container-info">
                <img class="img-1" src="/images/info/fondo.png" alt="Imagen1">
            <div class="content-info">
                <h2>Green Good</h2>
                <p>¡Bienvenidos a la sección de información de Green Good! Aquí podrás conocer todo sobre nuestros
                    productos, su origen, beneficios y cómo pueden ayudarte a mejorar tu calidad de vida. Somos una
                    empresa dedicada a ofrecer productos naturales y de alta calidad, que promueven un estilo de vida
                    saludable y respetuoso con el medio ambiente.

                    En esta sección encontrarás artículos, noticias y novedades relacionadas con nuestros productos, así
                    como información útil para entender mejor cómo funcionan y cómo pueden contribuir a mejorar tu salud
                    y bienestar. También compartiremos contigo consejos y recomendaciones sobre hábitos saludables,
                    alimentación y cuidado del medio ambiente.

                    Nos encanta compartir nuestra pasión por los productos naturales y estamos seguros de que
                    encontrarás información valiosa y relevante en esta sección. ¡Explora y descubre todo lo que Green
                    Good tiene para ofrecerte!</p>
            </div>
        </div>
        <section class="container-info">
            <div class="slider-info">
                <img src="/images/info/info-crema.PNG" alt="Imagen 1">
                <img src="/images/info/info-crema2.PNG" alt="Imagen 2">
                <img src="/images/info/info-1.jpeg" alt="Imagen 3">
            </div>

            <div class="slider-info">
                <img src="/images/info/info-unguento.PNG" alt="Imagen 1">
                <img src="/images/info/info-unguento2.PNG" alt="Imagen 2">
                <img src="/images/info/info-2.jpeg" alt="Imagen 3">
            </div>

            <div class="slider-info">
                <img src="/images/info/info-aceite.PNG" alt="Imagen 1">
                <img src="/images/info/info-aceite2.PNG" alt="Imagen 2">
                <img src="/images/info/info-3.jpeg" alt="Imagen 3">
            </div>
        </section>
    </main>

    <!---------------------------- ASESORAMIENTO--------------------------------->

    <%- include('../partials/counseling')%>

    <!---------------------------------  FOOTER ---------------------------- -->

    <%- include('../partials/footer')%>

</body>

</html>